$bg-menu: #702626;
$bg-primary: #702626;
$bg-secondary: #832B2B;
$bg-selected: #8E211D;
$bg-red: #E02222;
$bg-gray: #EEEEEE;
$color-icon: #5E5C5C;
$primary-text: #000000;
$secondary-text: #FFFFFF;
$text-icon: #FFFFFF;
$size-icon: 22px;
$border-gray: #595959;
$height-menu: 35px;
$bg-gray-dark: #313131;
$break-small: 768px;
$break-large: 990px;


body{
  color: $primary-text;
  font-family: 'Open Sans';  
  font-weight: 300;  
  background: #FFFFFF;
  height: auto;
}
a{
    outline: none!important;
}
.body-content{
  background: $bg-primary;
  #body{
    background: $secondary-text;
  }
  #menu{
    background: $bg-primary;
  }
}
.body-login{
  background: url("../images/bg_login_office.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
}
ul, li{
  list-style: none;
  margin: 0;
}

select {
    height: 2em;
    margin: 0 0 1em;
}
.navbar-fixed-top {
  border-width: 0 0 1px;
  top: 0px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}
#body{
    margin-top: 44px;
}
#drop-user-menu{
    top: 0px!important;
    z-index: 10000;
}
#header{
    background: $bg-primary;
    height: 44px;  
    -webkit-transition: height 1s, background 1s;  /* Chrome 1-25, Safari 3.2+ */
         -moz-transition: height 1s, background 1s;  /* Firefox 4-15 */
           -o-transition: height 1s, background1s;  /* Opera 10.50–12.00 */
              transition: height 1s, background 1s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    
}
#logo a{
    display: inline-block;
    padding: 15px 14px 0 14px;
}
.login{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  h1,h2,h3,h4{
        color: #FFFFFF;
    }
}
.breadcrumbs{
  background-color: #EEEEEE;
  border: 0 none;  
  list-style: none outside none;
  margin: 15px 0 20px;
  padding: 10px 0px 10px 15px;
  & >*:before{
        content: "";
        margin: 0;
        
  }
  
  a,i{
    color: #777777;
    text-transform: capitalize;
    
  
  }
  

}
#user-menu{
  float: right;
  padding: 6px 6px 0 6px;
  height: 44px;
  -webkit-transition: background 1s;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 1s;  /* Firefox 4-15 */
       -o-transition: background1s;  /* Opera 10.50–12.00 */
          transition: background 1s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  &:hover {
    background: $bg-secondary;  
    
  }
  span{
    color: $secondary-text;
    display: inline-block;
    margin: 8px 0 0 0;
    vertical-align: top; 
    img{
        border-radius: 40px;
    }   
  }
  .arrow{
    float: right;
    color: $text-icon;
    line-height: 33px;
    margin: 0 7px;
  }
  .avatar{
    margin: 3px 0 0 0 ;
  }  
}
.avatar{
    img{
        border-radius: 55px;
    }
}
#container-menu{
  background: $bg-menu;
  padding: 0;
  li{
    border-bottom: solid 1px $bg-secondary;
    min-height: $height-menu;
    line-height: $height-menu;
    a{
      -webkit-transition: background 0.4s;  /* Chrome 1-25, Safari 3.2+ */
        -moz-transition: background 0.4s;  /* Firefox 4-15 */
          -o-transition: background 0.4s;  /* Opera 10.50–12.00 */
             transition: background 0.4s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
      &:hover{
        background: $bg-secondary;
      }
      .arrow-menu{
        float: right;
        height: $height-menu;
        line-height: 32px;
      }      
      padding: 0 0 0 20px;
      width: 100%;
      color: $secondary-text;
      display: inline-block;
      i{
        vertical-align: top;
        margin: 0 10px 0 0; 
        color: $text-icon;
      }
    }
    .data-hide{        
        color: white;        
    }
    .avatar{
        margin-top: 5px;
    }
    .menu-selected{
        background: $bg-selected;
        .arrow-selected{
            background-image: url("../images/sidebar-menu-arrow.png");
            display: block;
            float: right;
            height: 25px;
            position: relative;
            right: -40px;
            top: 4px;
            width: 8px;
        }
        .single{
            right: 0px!important;
        }
    }
  }  
}

#container-menu .submenu{
  display: none;
  padding: 0;
  margin: 0;
  li{
    min-height: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    a{
      &:hover{
        background: $bg-secondary;
      }
    }
  }
}

#content{
  background: #FFFFFF;
  min-height: 720px;
  
}

span.label {
    background: rgba(0,0,0,0);
    color: #999999;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 0px;
    margin: 7px 0 1px
}

span.prefix {
  margin-left: 5px;
  z-index: 0;
  height: 46px;
}
span.postfix {
  margin-right: 5px;
  z-index: 0;
  height: 46px;
}
/*INPUTS*/

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"], 
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], textarea, select, .fileWrapper {
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  height: 2.7em;
  margin: 0 0 1em;
  padding: 0.5em;
  transition: all 0.15s linear 0s;
  width: 100%;
  border-radius: 6px;
    &:hover{
        background: #FFF;
        border: 1px solid #CCCCCC;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2) inset;
    }
    &:focus{
        background: #FFF;
        border: 1px solid #CCCCCC;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2) inset;
    }
}

.custom-select {
    position:relative;
    &:after{
        content: url(../images/select-arrow.png);  
        color:#aaa;
        -webkit-transform:rotate(90deg);
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        transform:rotate(90deg);
        right:10px; top:-3px;
        padding:0 0 0px;
        border-bottom:1px solid #ddd;
        position:absolute;
        pointer-events:none;
    }
    &:before{
        content:'';
        right:6px; top:6px;
        width:2rem; 
        height:2rem;
        background:#ffffff;
        position:absolute;
        pointer-events:none;
        display:block;
    }
}




input[type=checkbox]{
    display: none;
    &+ label{
        width: 16px;
        display: inline;
        span{
            display:inline-block;
            width:19px;
            height:19px;
            background:url(../images/check_radio_sheet.png) left top no-repeat;
            margin:8px 4px 0 0;
            vertical-align:middle;    
            cursor:pointer;
        }
    }
    &:checked{
        &+ label{
            span{
                background:url(../images/check_radio_sheet.png) -19px top no-repeat;  
            }
        }  
        &:disabled{
            &+ label{
                span{
                    background:url(../images/check_radio_sheet.png) -58px top no-repeat;  
                }
            }
            &:hover{
                &+ label{
                    span{
                        background:url(../images/check_radio_sheet.png) -58px top no-repeat;  
                    }
                }   
            }
        }
        &:hover{
            &+ label{
                span{
                    background:url(../images/check_radio_sheet.png) -19px top no-repeat;  
                }
            }   
        }
    }
    &:hover{
        &+ label{
            span{
                background:url(../images/check_radio_sheet.png) -38px top no-repeat;  
            }
        }   
    }
    &:disabled{
        &+ label{
            span{
                background:url(../images/check_radio_sheet.png) -76px top no-repeat;  
            }
        }
        &:hover{
            &+ label{
                span{
                    background:url(../images/check_radio_sheet.png) -76px top no-repeat;  
                }
            }   
        }
    }
}


input[type=radio]{
    display: none;
    &+ label{
        width: 16px;
        display: inline;
        span{
            display:inline-block;
            width:19px;
            height:19px;
            background:url(../images/check_radio_sheet.png) -100px top no-repeat;
            margin:8px 4px 0 0;
            vertical-align:middle;    
            cursor:pointer;
        }
    }
    &:checked{
        &+ label{
            span{
                background:url(../images/check_radio_sheet.png) -119px top no-repeat;  
            }
        }          
        &:disabled{
            &+ label{
                span{
                    background:url(../images/check_radio_sheet.png) -157px top no-repeat;  
                }
            }
            &:hover{
                &+ label{
                    span{
                        background:url(../images/check_radio_sheet.png) -157px top no-repeat;  
                    }
                }   
            }
        }
        &:hover{
            &+ label{
                span{
                    background:url(../images/check_radio_sheet.png) -119px top no-repeat;  
                }
            }   
        }
    }
    &:hover{
        &+ label{
            span{
                background:url(../images/check_radio_sheet.png) -138px top no-repeat;  
            }
        }   
    }
    &:disabled{
        &+ label{
            span{
                background:url(../images/check_radio_sheet.png) -176px top no-repeat;  
            }
        }
        &:hover{
            &+ label{
                span{
                    background:url(../images/check_radio_sheet.png) -176px top no-repeat;  
                }
            }   
        }
    }
}

button, .button {
  background-color: $bg-menu;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.5) inset!important;
  color: $secondary-text;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: normal!important;
  line-height: 1;
  margin: 0 0 1.25em;
  padding: 0.5em 1.5em 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
}
button:hover, .button:hover, button:focus, .button:focus {
  background-color: $bg-secondary;  
}

.niceFileInput {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.fileWrapper {    
    cursor: pointer;    
    overflow: hidden;
    position: relative;
    width: auto;
    .text {
        display: block;
        color: rgba(0, 0, 0, 0.75);
        display: block;
        font-family: inherit;
        font-weight: 500;
        height: 2.7em;
        margin: 5px;
    }
}


#footer{
  color: #999999;
  background: $bg-menu;
  padding: 10px;
}

.menu-focus{
  background: $bg-secondary;
}

.actions {
    float: right; 
    margin: 20px 5px 0;
    color: #555555;
    transition: all 0.5s ease;
    &:hover, &:focus{
        color: #777777;
    }
    i{
        display: block!important;
        text-align:center
    }
}

.notification{
    display: inline-block;
    margin: 10px 3px 0;
    position: relative;
    i{
      color: $color-icon;
      padding: 0 0 0 5px;
    }
    span{
      background : $bg-red;
      border-radius: 12px 12px 12px 12px !important;
      color: $secondary-text;
      height: 14px;
      position: absolute;
      padding: 2px;
      right: 10px;
      top: -5px;
      text-align: center;
      width: 14px;
    }
}

.content-notification{
  .first{
    background: $bg-gray;
    cursor: default;
  }
}

.content-user-menu{
  .last{    
    border-top: solid 1px $bg-gray;
    .color{
        height: 22px;
        width: 22px;
        margin: 2px;
        float: left;
    }
    .gray{
        background: #333333;
    }
    .blue{
        background: #1E5E89;
    }
    .dark-red{
        background: #702626;
    }
    .green{
        background: #377b37;
    }
    .orange{
        background: #C76005;
    }
    .purple{
        background: #6B32A8;
    }
    .light-gray{
        background: #706F6F;
    }
  }
}

.title{
  color: #666666;
  font-weight: 300;
  display: inline-block;
  letter-spacing: -1px;
  margin: 20px 0 15px;
}

.sub-title{  
  color: #777777;  
  font-weight: 300;
  margin: 0 0 10px;
  padding: 0 8px;
  width: 100%;
}
/*TABS*/
.tabs{
    dd{
        a{
            background: #FFFFFF;
            color: #777777!important;  
            font-weight: 300;
            width: 100%;
            &:hover{
                background: #FFFFFF;
            }
        }
    }
    .active{
        border-top: 2px solid $bg-primary;
        border-left : 1px solid #E3E3E3;
        border-right : 1px solid #E3E3E3;
    }
}
.tabs-content{
    border-top : 1px solid #E3E3E3;
}
/*BOXES*/
.box{
  margin: 0 0 10px 0;
  background: #ffffff;
  border: solid 1px $bg-primary;
  .box-content{
    margin: 20px 0 0 0;
    width: 100%;
    min-height: 200px;
    padding: 5px;
  }
  .box-header{
    background: $bg-primary;
    height: 30px;
    width: auto;
    color: #ffffff;
    span{
      display: inline-block;
      line-height: 30px;
      padding: 0 0 0 10px;
    }
    .box-actions{
      display: inline-block;
      float: right;
      a{
        float:right;
      }
    }
  }
}

/*DATATABLE*/
select[name*='_length']{
  width: 65px;
  border-radius: 0;
}

[id*='_filter'] input{
  width: 150px;
  display: inline;
  margin: 0;
  border-radius: 0;
}

.ui-widget-header {
  color: #222222;
  font-weight: bold;
  border: none;
  background: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 #E6E6E6!important; 
}
tr.odd {
  background-color: #EDEDED!important;
    .sorting_1 {
        background-color: #DADADA!important;    
     }
}
tr.even {
    background-color: #F9F9F9!important;
    .sorting_1 {
        background-color: #EAEAEA!important;    
     }
}
table.display thead th {  
  padding: 10px 0 10px 10px!important;
  font-weight: bold;
}
table.display td {
  border: 1px solid #C5C5C5!important;
  padding: 10px!important;  
}
.action_list{
    background: url("../images/glyphicons-halflings.png") no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.action_edit{
    background-position: 0 -72px;
}

.action_delete{
    background-position: -312px 0;
}

.action_answers, 
.action_permissions, 
.action_cities, 
.action_services{
    background-position: -264px 0;
}

.action_change_menu,.action_change_active{
    background-position: -240px -24px;
}

.action_up_position{
     background-position: -289px -96px;
}

.action_down_position{
     background-position: -312px -96px;
}

.action_detail,
.action_comments{
     background-position: -264px -24px;
}

/*ACTION BUTTONS*/
.icon-create:before                 { content: "\f044"; }
.icon-return:before             { content: "\f03a"; }
.icon-add:before             { content: "\f0ae"; }

#drop-user-menu a {
    display: inline-block;
    width: 100%;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
label[for=remember]{
    color: #FFFFFF;
}
