@charset "CP850";
body {
  color: black;
  font-family: univia-pro,'Helvetica Neue',Arial,sans-serif;
  font-weight: 300;
  background: #FFFFFF;
  height: auto; }
#overlay {
  background: #fff none repeat scroll 0 0;
  float: right;
  height: 100%;
  margin-top: -81px;
  overflow: auto;
  padding-top: 15%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100000;
}
a {
  outline: none !important; 
  color: #fa823b;
  }
.body-content {
  background: #702626; }
  .body-content #body {
    background: white; }
  .body-content #menu {
    background: #702626; }

.body-login {
  background: url("../images/bg_login_office.jpg") no-repeat fixed center center/cover rgba(0, 0, 0, 0); }
h1,h2,h3,h4,h5,h6{
    font-family: univia-pro,'Helvetica Neue',Arial,sans-serif;
}

ul, li {
  list-style: none;
  margin: 0; }

select {
  height: 2em;
  margin: 0 0 1em; }

.navbar-fixed-top {
  border-width: 0 0 1px;
  top: 0px; }

.navbar-fixed-top, .navbar-fixed-bottom {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030; }
#header {
    height: 80px!important; 
}
#body {
    margin-top: 80px!important; }

#drop-user-menu {
  top: 50px !important;
  z-index: 10000; }

#header {
  background: #702626;
  height: 44px;
  -webkit-transition: height 1s, background 1s;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: height 1s, background 1s;
  /* Firefox 4-15 */
  -o-transition: height 1s, background1s;
  /* Opera 10.50–12.00 */
  transition: height 1s, background 1s;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }

#logo a {
  display: inline-block;
  padding: 15px 14px 0 14px; }

.login {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF; }
  .login h1, .login h2, .login h3, .login h4 {
    color: #FFFFFF; }

.breadcrumbs {
  background-color: #EEEEEE;
  border: 0 none;
  list-style: none outside none;
  margin: 15px 0 20px;
  padding: 10px 0px 10px 15px; }
  .breadcrumbs > *:before {
    content: "";
    margin: 0; }
  .breadcrumbs a, .breadcrumbs i {
    color: #777777;
    text-transform: capitalize; }

#user-menu {
  float: right;
  padding: 6px 6px 0 6px;
  height: 44px;
  -webkit-transition: background 1s;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: background 1s;
  /* Firefox 4-15 */
  -o-transition: background1s;
  /* Opera 10.50–12.00 */
  transition: background 1s;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  #user-menu:hover {
    background: #832b2b; }
  #user-menu span {
    color: white;
    display: inline-block;
    margin: 8px 0 0 0;
    vertical-align: top; }
    #user-menu span img {
      border-radius: 40px; }
  #user-menu .arrow {
    float: right;
    color: white;
    line-height: 33px;
    margin: 0 7px; }
  #user-menu .avatar {
    margin: 3px 0 0 0; }

.avatar img {
  border-radius: 55px; }

#container-menu {
  background: #702626;
  padding: 0; }
  #container-menu li {
    border-bottom: solid 1px #832b2b;
    min-height: 35px;
    line-height: 35px; }
    #container-menu li a {
      -webkit-transition: background 0.4s;
      /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: background 0.4s;
      /* Firefox 4-15 */
      -o-transition: background 0.4s;
      /* Opera 10.50–12.00 */
      transition: background 0.4s;
      /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
      padding: 0 0 0 20px;
      width: 100%;
      color: white;
      display: inline-block; }
      #container-menu li a:hover {
        background: #832b2b; }
      #container-menu li a .arrow-menu {
        float: right;
        height: 35px;
        line-height: 32px; }
      #container-menu li a i {
        vertical-align: top;
        margin: 0 10px 0 0;
        color: white; }
    #container-menu li .data-hide {
      color: white; }
    #container-menu li .avatar {
      margin-top: 5px; }
    #container-menu li .menu-selected {
      background: #8e211d; }
      #container-menu li .menu-selected .arrow-selected {
        background-image: url("../images/sidebar-menu-arrow.png");
        display: block;
        float: right;
        height: 25px;
        position: relative;
        right: -40px;
        top: 4px;
        width: 8px; }
      #container-menu li .menu-selected .single {
        right: 0px !important; }

#container-menu .submenu {
  display: none;
  padding: 0;
  margin: 0; }
  #container-menu .submenu li {
    min-height: 25px;
    height: 25px;
    line-height: 25px;
    border: none; }
    #container-menu .submenu li a:hover {
      background: #832b2b; }

#content {
  background: #FFFFFF;
  margin-bottom: 20px; }

span.label {
  background: rgba(0, 0, 0, 0);
  color: #999999;
  display: inline-block;
  font-weight: normal;
  letter-spacing: 0px;
  margin: 7px 0 1px; }

span.prefix {
  margin-left: 5px;
  z-index: 0;
  height: 46px; }

span.postfix {
  margin-right: 5px;
  z-index: 0;
  height: 46px; }

/*INPUTS*/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], textarea, select, .fileWrapper {
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  height: 2.2em;
  margin: 0 0 1em;
  padding: 0.1em 0.5em;
  transition: all 0.15s linear 0s;
  width: 100%;
  border-radius: 6px; }
  input[type="text"]:hover,
  input[type="password"]:hover,
  input[type="date"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="month"]:hover,
  input[type="week"]:hover,
  input[type="email"]:hover,
  input[type="number"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="time"]:hover,
  input[type="url"]:hover, textarea:hover, select:hover, .fileWrapper:hover {
    background: #FFF;
    border: 1px solid #CCCCCC;
    /*box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2) inset;*/ 
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus, textarea:focus, select:focus, .fileWrapper:focus {
    background: #FFF;
    border: 1px solid #CCCCCC;
    /*box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2) inset;*/ 
  }



input[type=checkbox] {
  display: none; }
  input[type=checkbox] + label {
    width: 16px;
    line-height: 1;
    font-size: 1rem !important;
    display: inline; }
    input[type=checkbox] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      background: url(../images/check_radio_sheet.png) left top no-repeat;
      margin: 2px 4px 0 0;
      vertical-align: middle;
      cursor: pointer; }
  input[type=checkbox]:checked + label span {
    background: url(../images/check_radio_sheet.png) -19px top no-repeat; }
  input[type=checkbox]:checked:disabled + label span {
    background: url(../images/check_radio_sheet.png) -58px top no-repeat; }
  input[type=checkbox]:checked:disabled:hover + label span {
    background: url(../images/check_radio_sheet.png) -58px top no-repeat; }
  input[type=checkbox]:checked:hover + label span {
    background: url(../images/check_radio_sheet.png) -19px top no-repeat; }
  input[type=checkbox]:hover + label span {
    background: url(../images/check_radio_sheet.png) -38px top no-repeat; }
  input[type=checkbox]:disabled + label span {
    background: url(../images/check_radio_sheet.png) -76px top no-repeat; }
  input[type=checkbox]:disabled:hover + label span {
    background: url(../images/check_radio_sheet.png) -76px top no-repeat; }

input[type=radio] {
  display: none; }
  input[type=radio] + label {
    width: 16px;
    display: inline; }
    input[type=radio] + label span {
      display: inline-block;
      width: 19px;
      height: 19px;
      background: url(../images/check_radio_sheet.png) -100px top no-repeat;
      margin: 8px 4px 0 0;
      vertical-align: middle;
      cursor: pointer; }
  input[type=radio]:checked + label span {
    background: url(../images/check_radio_sheet.png) -119px top no-repeat; }
  input[type=radio]:checked:disabled + label span {
    background: url(../images/check_radio_sheet.png) -157px top no-repeat; }
  input[type=radio]:checked:disabled:hover + label span {
    background: url(../images/check_radio_sheet.png) -157px top no-repeat; }
  input[type=radio]:checked:hover + label span {
    background: url(../images/check_radio_sheet.png) -119px top no-repeat; }
  input[type=radio]:hover + label span {
    background: url(../images/check_radio_sheet.png) -138px top no-repeat; }
  input[type=radio]:disabled + label span {
    background: url(../images/check_radio_sheet.png) -176px top no-repeat; }
  input[type=radio]:disabled:hover + label span {
    background: url(../images/check_radio_sheet.png) -176px top no-repeat; }

button, .button {
  background-color: #702626;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.5) inset !important;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: normal !important;
  line-height: 1;
  margin: 0 0 1.25em;
  padding: 0.8em 1.5em 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px; }

button:hover, .button:hover, button:focus, .button:focus {
  background-color: #832b2b; }

.niceFileInput {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99; }

.fileWrapper {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: auto; }
  .fileWrapper .text {
    display: block;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-weight: 500;
    height: 2.7em;
    margin: 5px; }

#footer {
  color: #999999;
  background: #702626;
  padding: 10px; }

.menu-focus {
  background: #832b2b; }

.actions {
  float: right;
  margin: 20px 5px 0;
  color: #555555;
  transition: all 0.5s ease; }
  .actions:hover, .actions:focus {
    color: #777777; }
  .actions i {
    display: block !important;
    text-align: center; }

.notification {
  display: inline-block;
  margin: 10px 3px 0;
  position: relative; }
  .notification i {
    color: #5e5c5c;
    padding: 0 0 0 5px; }
  .notification span {
    background: #e02222;
    border-radius: 12px 12px 12px 12px !important;
    color: white;
    height: 14px;
    position: absolute;
    padding: 2px;
    right: 10px;
    top: -5px;
    text-align: center;
    width: 14px; }

.content-notification .first {
  background: #eeeeee;
  cursor: default; }

.content-user-menu .last {
  border-top: solid 1px #eeeeee; }
  .content-user-menu .last .color {
    height: 22px;
    width: 22px;
    margin: 2px;
    float: left; }
  .content-user-menu .last .gray {
    background: #333333; }
  .content-user-menu .last .blue {
    background: #1E5E89; }
  .content-user-menu .last .dark-red {
    background: #702626; }
  .content-user-menu .last .green {
    background: #377b37; }
  .content-user-menu .last .orange {
    background: #C76005; }
  .content-user-menu .last .purple {
    background: #6B32A8; }
  .content-user-menu .last .light-gray {
    background: #706F6F; }

.title {
  color: #666666;
  font-weight: 300;
  display: inline-block;
  letter-spacing: -1px;
  margin: 20px 0 15px; }

.sub-title {
  color: #777777;
  font-weight: 300;
  margin: 0 0 10px;
  padding: 0 8px;
  width: 100%; }

/*TABS*/
.tabs dd a {
  background: #FFFFFF;
  color: #777777 !important;
  font-weight: 300;
  width: 100%; }
  .tabs dd a:hover {
    background: #FFFFFF; }
.tabs .active {
  border-top: 2px solid #702626;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3; }

.tabs-content {
  border-top: 1px solid #E3E3E3; }

/*BOXES*/
.box {
  margin: 0 0 10px 0;
  background: #ffffff;
  border: solid 1px #702626; }
  .box .box-content {
    margin: 20px 0 0 0;
    width: 100%;
    min-height: 200px;
    padding: 5px; }
  .box .box-header {
    background: #702626;
    height: 30px;
    width: auto;
    color: #ffffff; }
    .box .box-header span {
      display: inline-block;
      line-height: 30px;
      padding: 0 0 0 10px; }
    .box .box-header .box-actions {
      display: inline-block;
      float: right; }
      .box .box-header .box-actions a {
        float: right; }

/*DATATABLE*/
select[name*='_length'] {
  width: 65px;
  border-radius: 0; }

[id*='_filter'] input {
  width: 150px;
  display: inline;
  margin: 0;
  border-radius: 0; }

.ui-widget-header {
  color: #222222;
  font-weight: bold;
  border: none;
  background: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none repeat scroll 0 0 #e6e6e6 !important; }

tr.odd {
  background-color: #ededed !important; }
  tr.odd .sorting_1 {
    background-color: #dadada !important; }

tr.even {
  background-color: #f9f9f9 !important; }
  tr.even .sorting_1 {
    background-color: #eaeaea !important; }

table.display thead th {
  padding: 10px 0 10px 10px !important;
  font-weight: bold; }

table.display td {
  border: 1px solid #c5c5c5 !important;
  padding: 10px !important; }

.action_list {
  background: url("../images/glyphicons-halflings.png") no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px; }

.action_edit {
  background-position: 0 -72px; }

.action_delete {
  background-position: -312px 0; }

.action_save {
  background-position: -289px 0; }

.action_answers,
.action_permissions,
.action_cities,
.action_services {
  background-position: -264px 0; }

.action_change_menu, .action_change_active {
  background-position: -240px -24px; }

.action_up_position {
  background-position: -289px -96px; }

.action_down_position {
  background-position: -312px -96px; }

.action_detail,
.action_comments {
  background-position: -264px -24px; }

.action_download{
  background-position: -96px -24px; }
.action_documents {
	background-position: -22px -24px;
}
.action_customer {
    background-position: -166px 0px;
}
.action_fixing {
	background-position: -217px -120px;
}
.action_products {
    background-position: -408px -120px;
}
.action_request-validation {
    background-position: -70px 0px;
}
.action_register_payment {
    background-position: -118px -72px;
}
/*ACTION BUTTONS*/
.icon-create:before {
  content: "\f044"; }

.icon-validate:before {
  content: "\F08E"; }

.icon-return:before {
  content: "\f03a"; }

.icon-add:before {
  content: "\f0ae"; }

#drop-user-menu a {
  display: inline-block;
  width: 100%; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

label[for=remember] {
  color: #FFFFFF; }
.country {
    margin-top: 5px;
    float: right;
}
.cart {
  margin-left: 5%;
  background: rgba(53, 59, 90, 0.5) none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  min-height: 40px;
  min-width: 40px;
}
#globalSearch:focus,#globalSearch:hover {
 box-shadow: 0 1px 8px rgba(255, 255, 255, 0) inset;   
 /*background: #ffffff;*/
 transition: background 0.5;
}
#globalSearch {
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  color: #383F5C;
  height: 35px;
  border: 1px solid #383F5C;
}
.search-icon{
  float: right;
  margin-top: -50px;
  cursor: pointer;
}
.country-item{
  padding: 4% 3%;
  color: #2c4090;
  text-align: left;
}
.country-item.disabled{
    background: #f0f0f0;
    cursor: default;
}
.country-item.disabled img{
    filter: grayscale(60%);
}

.country-item .soon{
    font-style: italic;
    font-weight: 100;
    font-size: 0.8rem;
    float: right;
}
.country-item label{
    display: inline;
}
.cart span {
  font-size: 0.7rem;
  margin-right: -23px;
  margin-top: 0;
  padding-left: 8px;
}
.cart img {
  margin-top: 11px;
}
.cart-btn {
  background-color: #33ccff!important;
}
.resume-cart {
  padding: 10% 0;
}
.resume-cart .products{
  color: #706F6F;
  font-size: 0.7rem;
  margin: 0 2%;
}
.resume-cart-label{
  font-size: 1.5rem;
  color: #706f6f;
}
.resume-total {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 5%;
  text-align: right;
}
.progress {
  background: none;
  border: 0px solid white;
}
#modal-message{
        border-radius: 18px;
        color: #606060;
   }
   .login-popup-label{
       font-weight: 300;
   }
   .login-popup{
       padding: 5% 0 2%;
   }
   .login-popup input{
       color: #a0a0a0;
   }
    .validation-error{
       border-color: #BE4747!important;
   }
/* Styles for screens small*/
@media only screen and (max-width: 40.063em) {
     #header {
         height: 150px!important; 
        position:relative;
     }
     #body {
         margin-top: 0px!important; }
     #overlay {
        margin-top: -0px;
    }
    .search-icon{
        margin-top: -46px;
      }
}
/* Styles for screens medium*/
@media only screen and (min-width: 40.063em) {
}