/*!
 * Start Bootstrap - LookingForWeb v1.0.0 (https://bitbucket.org/Maverik216/looking#readme)
 * Copyright 2017-2018 LookingForWeb ©
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #ee4b28;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #e2362e;
}
a:hover,
a:focus {
  color: #c2221b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #e2362e;
}
.bg-dark {
  background-color: #333333;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
.btn.focus,
.btn:focus,
.btn:hover {
  color: #fff;
  text-decoration: none;
}
aside {
  padding: 50px 0;
}
.glyphicon {
  margin-right: 5px;
}
.no-padding {
  padding: 0;
}
.facebook-section {
  padding: 40px 0;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width: auto;
  max-width: 450px;
  margin: 0 auto;
}
.large-popup {
  max-width: 1050px;
}
.medium-popup {
  max-width: 650px;
}
.header-spacing {
  height: 65px;
}
@media (max-width: 768px) {
  .header-spacing {
    height: 60px;
  }
}
.panel-group {
  margin-bottom: 0px;
}
.categories-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.categories-container a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
#mainNav {
  border-bottom: 4px solid #e2362e !important;
}
.navbar-default {
  background-color: white;
  min-height: 70px;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #e2362e;
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #c2221b;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #e2362e;
  text-transform: uppercase;
}
.navbar-default .nav {
  margin-top: 0.5%;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  color: #222222;
  font-size: 12px;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #e2362e;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #e2362e !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.navbar-default .stylish-input-group {
  margin-top: 0%;
}
.navbar-default .stylish-input-group .input-group-addon {
  background: white !important;
  margin-top: 2.5%;
}
.navbar-default .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: none;
}
.navbar-default .stylish-input-group button {
  border: 0;
  background: transparent;
}
.navbar-default .navbar-brand img {
  width: 60%;
}
@media (max-width: 640px) and (orientation: landscape) {
  .navbar-default .navbar-brand img {
    width: 38%;
  }
}
@media (max-width: 768px) {
  .navbar-default {
    min-height: 60px;
  }
  .navbar-default .navbar-brand {
    width: 80%;
  }
  .navbar-default .navbar-brand img {
    /*width: 60%;*/
  }
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: #ffffff;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(85, 85, 85, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #555555;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(85, 85, 85, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #555555;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #e2362e;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #c2221b;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #e2362e;
  }
}
footer {
  padding: 50px 0 5px;
  background: #444;
}
footer .navbar-inverse {
  background-color: #444;
  border: 0px solid;
}
footer .navbar-inverse .navbar-default {
  background-color: #444;
}
footer .nav li a {
  color: #fff;
  padding: 2px 15px;
}
footer .nav li a:hover {
  background-color: #444;
}
footer .nav li a:focus {
  background-color: #444;
}
footer .copyright {
  color: #fff;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/paid-search-banner.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
carousel,
.item,
.active {
  height: 100%;
}
.hide-filters {
  border-radius: 50px;
  cursor: pointer;
  top: 25%;
  float: right;
  height: 60px;
  padding: 0.5% 0 0;
  position: fixed;
  right: 4%;
  text-align: center;
  width: 60px;
  z-index: 100000;
}
.outstanding {
  margin-top: 6%;
}
.outstanding .products-carrousel {
  margin-top: 0%;
}
.outstanding .products-carrousel img {
  width: 70%;
  margin: 0 15%;
}
.carousel-inner {
  height: 100%;
}
.c-no {
  height: 150px;
}
.grey-bg {
  background: #ebebeb;
}
.counter-Txt {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}
.counter-Txt span {
  display: block;
  font-size: 36px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .c-no {
    height: 100%;
  }
  .counter-Txt {
    margin-top: 35px;
  }
  .margin-bot-35 {
    margin-bottom: 35px;
  }
}
/* Background images are set within the HTML using inline CSS, not here */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.top-nav-categories {
  background: #fff none repeat scroll 0 0;
  float: left;
  margin-top: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 4px solid #ee4b28;
}
.top-nav-categories a {
  text-decoration: none;
  color: #e2362e;
}
.top-nav-categories a .cat-name {
  padding: 2% 0;
  font-size: 20px;
}
@media (min-width: 768px) {
  .top-nav-categories {
    margin-top: -7px;
  }
}
@media (max-width: 768px) {
  .top-nav-categories {
    margin-top: 4px;
  }
}
@media (max-width: 640px) and (orientation: landscape) {
  .top-nav-categories {
    margin-top: -32px;
  }
}
.navbar {
  margin-bottom: 0;
}
#myCarousel {
  margin-top: 1%;
  margin-bottom: 2%;
  /*margin-left: 1.5%;*/
  width: 100%;
}
#myCarousel .item {
  line-height: 0;
}
#myCarousel .carousel-caption {
  left: 20%;
  padding-bottom: 5%;
  right: 20%;
}
#myCarousel .carousel-caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
#myCarousel .carousel-caption p {
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  #myCarousel {
    margin-top: 42%;
    /*width: 100px;*/
  }
  #myCarousel .carousel-caption {
    padding-bottom: 10%;
  }
  #myCarousel .carousel-caption h1 {
    font-size: 2rem;
  }
}
.banner-suffix {
  background-color: #F27C17;
  color: #fff;
  margin: 13px 0 -10px;
  padding: 9px 0 13px;
}
.banner-categories {
  margin-top: 25px;
  text-align: center;
}
.banner-categories .category-item {
  color: #FFFFFF;
  padding: 5% 0;
  font-size: 3rem;
}
#testimonials .item {
  margin-top: 8%;
}
#testimonials .item .profile-circle img {
  border-radius: 50%;
}
#testimonials .item blockquote {
  text-align: center;
  border: none;
  padding: 0 20px;
}
#testimonials .carousel-indicators {
  bottom: 0;
  top: 2%;
}
#testimonials .testimonial-video {
  line-height: 0;
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
#portfolio {
  padding: 0 2.2%;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 1;
  display: block;
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 25%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 10px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 25px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name-search .transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  padding: 10px 50px;
  border: 2px solid #fff;
  color: #fff;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name-search .transparent-input::-webkit-input-placeholder {
  color: #fff;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name-search .transparent-input:-moz-placeholder {
  color: #fff;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name-search .transparent-input::-moz-placeholder {
  color: #fff;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name-search .transparent-input:-ms-input-placeholder {
  color: #fff;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
  height: 100%;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    /*                .project-name {
                    font-size: 22px;
                }*/
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
}
.thumbnail {
  padding: 0;
  background-color: #f2f2f2;
}
.thumbnail:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  color: #555555;
}
.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(250, 250, 250, 0.5) 100%);
  background-repeat: repeat-x;
  left: auto;
  right: 0;
  color: #555555;
}
.starrr {
  font-size: 20px;
  color: #e2362e;
  margin-right: 1px;
}
.benefits {
  margin-top: 115px;
  padding: 1% 0 0 0;
}
@media (max-width: 768px) {
  .benefits {
    padding: 5% 0;
    font-size: 10px;
  }
}
.embebed-video {
  margin-top: 10px;
  z-index: -1;
}
.first-quote li {
  background-color: #d0d0e1;
  padding: 3% 5%;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  color: #666;
}
@media (max-width: 768px) {
  .first-quote li {
    font-size: 1rem;
  }
}
.first-quote .selected {
  background-color: #e2362e;
  color: #fff;
  opacity: .75;
}
.first-quote .locked {
  cursor: not-allowed;
}
.categories-row {
  /*padding: 1% 0 0 0;*/
  /*margin-top: 1.5%;*/
  background-color: #333;
  padding: 0.5%;
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .categories-row {
    padding: 5% 0;
  }
}
.categories-row a {
  color: #fff;
}
.deal {
  padding: 0 8%;
}
.deal a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #f2f2f2;
  transition: all .3s ease;
  transition: width .3s ease;
  text-decoration: none;
  width: 100%;
}
.deal a:hover {
  /*width: 105%;*/
  transition: all .3s ease;
  box-shadow: -2px 3px 18px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 3px 18px rgba(0, 0, 0, 0.3);
}
.deal a .deal-caption {
  padding: 10px 8%;
  color: #333;
}
.deal a .deal-caption .brand-name {
  color: #aaa;
}
.deal a .deal-caption .price-lead {
  color: #e2362e;
}
.deal a .deal-caption .price-lead-strike {
  color: #aaa;
  font-size: 1.2rem;
  line-height: 0.5;
  margin-bottom: 0;
}
#products {
  padding-top: 6%;
}
#products .item {
  padding-left: 0px;
  padding-right: 0px;
}
#products .item .product-box {
  position: relative;
  display: block;
  /*max-width: 650px;*/
  margin: 0 auto;
}
#products .item .product-box img {
  transition: all 0.2s ease-in-out;
  width: 100%;
}
#products .item .product-box .comparison-active {
  background-color: #b27015;
}
#products .item .product-box .favorite-active {
  background-color: #5bc0de;
}
#products .item .product-box .caption .brand-name {
  min-height: 2.8rem;
}
#products .item .product-box .caption .product-name {
  min-height: 3.4rem;
}
#products .item .product-box .product-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(226, 54, 46, 0.7);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
#products .item .product-box .product-box-caption .product-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#products .item .product-box .product-box-caption .product-box-caption-content .project-category,
#products .item .product-box .product-box-caption .product-box-caption-content .project-name {
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
#products .item .product-box .product-box-caption .product-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
#products .item .product-box .product-box-caption .product-box-caption-content .project-name {
  font-size: 18px;
}
#products .item .product-box:hover .img {
  transform: scale(1.8);
}
#products .item .product-box:hover .product-box-caption {
  opacity: 1;
}
#products .item .product-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  #products .item .product-box .product-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  #products .item .product-box .product-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  #products .item {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.product-disclamer p {
  font-size: 11px;
}
#comparison {
  color: #eeeeee;
}
#comparison ul {
  float: right;
}
#comparison ul li {
  padding: 10px 20px;
}
#comparison ul li label {
  padding: 0 5px;
}
#comparison ul li img {
  width: 48px;
  height: 38px;
  border-radius: 3px;
}
#comparison .navbar-header label {
  margin-top: 15px;
}
#filter-div {
  float: left;
  position: fixed;
  z-index: 10;
}
.initiallyHidden {
  display: none;
}
.favorite-active {
  background-color: #ec971f;
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #e2362e;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.profile {
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-top-colors: none !important;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: transparent transparent #d0d0d0;
  border-image: none !important;
  border-radius: 0 !important;
  border-style: none none solid !important;
  border-width: medium medium 1px !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  font-family: univia-pro;
  font-size: 12pt;
  transition: border-color 0.5s ease-in-out 0s;
}
.validation-error {
  transition: border-color 0.5s ease-in-out 0s;
  border-bottom: 1px solid #e2362e !important;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #e2362e;
  border-color: #e2362e;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #d8261e;
  border-color: #d0251d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #e2362e;
  border-color: #e2362e;
}
.btn-primary .badge {
  color: #e2362e;
  background-color: white;
}
.btn-social-icon {
  padding: 13px 15px 10px!important;
  margin: 0px 5px!important;
  height: 53px;
  width: 53px;
}
.btn-facebook {
  background-color: #004990;
  border-color: #269abc;
  color: #fff;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #3b5998!important;
}
.btn-instagram {
  /*width:100px; height:100px;*/
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}
.btn-instagram:hover {
  color: #fff;
  background-color: #3b5998!important;
}
.btn-twitter {
  background-color: #2184EF;
  border-color: #269abc;
  color: #fff;
}
.btn-twitter:hover {
  color: #fff;
  background-color: #64B2F8!important;
}
.btn-youtube {
  background-color: #CC181E;
  border-color: #269abc;
  color: #fff;
}
.btn-youtube:hover {
  color: #fff;
  background-color: #DF192A!important;
}
.btn-google {
  background-color: #DB4437;
  border-color: #269abc;
  color: #fff;
}
.btn-google:hover {
  color: #fff;
  background-color: #E06055!important;
}
.btn {
  font-family: 'univia-pro', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.login-background {
  background: rgba(0, 0, 0, 0) url("../images/homecolor.png") no-repeat fixed center center;
  background-size: cover;
}
/**
* Chat css
**/
.chat_window {
  position: fixed;
  width: calc(25%);
  max-width: 400px;
  height: 179px;
  border-radius: 10px;
  background-color: #fff;
  left: 16%;
  bottom: -34%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}
.top_menu {
  background-color: #e2362e;
  width: 100%;
  padding: 7px 0;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #ff0;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #c7eafc;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after,
.messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #c7eafc;
}
.messages .message.left .text {
  color: #45829b;
}
.messages .message.right .avatar {
  /*background-color: #fdbf68;*/
  background-image: url(../images/logo0.png);
  background-size: 40px 40px;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #ffe6cb;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after,
.messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #ffe6cb;
}
.messages .message.right .text {
  color: #c48843;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 15px;
  border-radius: 6px;
  width: calc(75%);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after,
.messages .message .text_wrapper:before {
  top: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 14px;
  font-weight: 300;
}
.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(69%);
  position: relative;
  padding: 0 22px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(80%);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 90px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.message_template {
  display: none;
}
