@charset "CP850";
body {
  color: black;
  background: #FFFFFF; }

.body-content {
  background: #702626; }
  .body-content #body {
    background: white; }
  .body-content #menu {
    background: #702626; }

#header {
  background: #531c1c; }

.login {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF; }
  .login h1, .login h2, .login h3, .login h4 {
    color: #FFFFFF; }

#user-menu {
  -webkit-transition: background 1s;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: background 1s;
  /* Firefox 4-15 */
  -o-transition: background1s;
  /* Opera 10.50–12.00 */
  transition: background 1s;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  #user-menu:hover {
    background: #832b2b; }
  #user-menu span {
    color: white; }

#container-menu {
  background: #702626; }
  #container-menu li {
    border-bottom: solid 1px #832b2b;
    min-height: 35px;
    line-height: 35px; }
    #container-menu li a {
      color: white; }
      #container-menu li a:hover {
        background: #832b2b; }
      #container-menu li a i {
        color: white; }
    #container-menu li .menu-selected {
      background: #8e211d; }

#container-menu .submenu li a:hover {
  background: #832b2b; }

#content {
  background: #FFFFFF;
  min-height: 720px; }

button, .button {
  background-color: #702626; }

button:hover, .button:hover, button:focus, .button:focus {
  background-color: #832b2b; }

#footer {
  background: #702626; }

.menu-focus {
  background: #832b2b; }

.notification span {
  background: #e02222;
  color: white; }

.content-notification .first {
  background: #eeeeee; }

/*TABS*/
.tabs .active {
    border-top: 2px solid #702626;
}
/*BOXES*/
.box {
  border: solid 1px #702626; }
  .box .box-header {
    background: #702626;
    color: #ffffff; }
