@charset "CP850";
body {
  color: black;
  background: #FFFFFF; }

.body-content {
  background: #26B6EA; }
  .body-content #body {
    background: white; }
  .body-content #menu {
    background: #26B6EA; }

#header {
  background: #ffffff; 
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff8ed+1,f7b63e+37,f7b63e+37,ff3736+76,ff2834+100 */
/*    background: #fff8ed;  Old browsers 
    background: -moz-linear-gradient(left,  #fff8ed 1%, #f7b63e 37%, #f7b63e 37%, #ff3736 76%, #ff2834 100%);  FF3.6-15 
    background: -webkit-linear-gradient(left,  #fff8ed 1%,#f7b63e 37%,#f7b63e 37%,#ff3736 76%,#ff2834 100%);  Chrome10-25,Safari5.1-6 
    background: linear-gradient(to right,  #fff8ed 1%,#f7b63e 37%,#f7b63e 37%,#ff3736 76%,#ff2834 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8ed', endColorstr='#ff2834',GradientType=1 );  IE6-9 */

}

.login {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF; }
  .login h1, .login h2, .login h3, .login h4 {
    color: #FFFFFF; }
#user-img {
  border: 1px solid #D4D4D4;
  border-radius: 50%;
}
#user-menu {
  -webkit-transition: background 1s;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: background 1s;
  /* Firefox 4-15 */
  -o-transition: background1s;
  /* Opera 10.50–12.00 */
  transition: background 1s;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */ }
  #user-menu:hover {
    background: #26B6EA; }
  #user-menu span {
    color: white; }

#container-menu {
  background: #26B6EA; }
  #container-menu li {
    border-bottom: solid 1px #26B6EA;
    min-height: 35px;
    line-height: 35px; }
    #container-menu li a {
      color: white; }
      #container-menu li a:hover {
        background: #26B6EA; }
      #container-menu li a i {
        color: white; }
    #container-menu li .menu-selected {
      background: #7e28db; }

#container-menu .submenu li a:hover {
  background: #26B6EA; }

#content {
  background: #FFFFFF;
  margin-bottom: 20px; }

button, .button {
  background-color: #FB703A; }

button:hover, .button:hover, button:focus, .button:focus {
  background-color: #FE4D37; }

#footer {
  background: #384060; }

.menu-focus {
  background: #26B6EA; }

.notification span {
  background: #e02222;
  color: white; }

.content-notification .first {
  background: #eeeeee; }

/*BOXES*/
.box {
  border: solid 1px #26B6EA; }
  .box .box-header {
    background: #26B6EA;
    color: #ffffff; }
