@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/opensans/OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/opensans/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/opensans/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/opensans/OpenSans-Bold.woff) format('woff');
}



/**
*Titillium Font
*/


/* BEGIN Black */
@font-face {
  font-family: 'Titillium Black';
  src: url("fonts/titillium/TitilliumWeb-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Black */
/* BEGIN Bold*/
@font-face {
  font-family: 'Titillium Bold';
  src: url("fonts/titillium/TitilliumWeb-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic*/
@font-face {
  font-family: 'Titillium Bold Italic';
  src: url("fonts/titillium/TitilliumWeb-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold Italic*/
/* BEGIN Bold ExtraLight*/
@font-face {
  font-family: 'Titillium Extralight';
  src: url("fonts/titillium/TitilliumWeb-ExtraLight.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold ExtraLight*/
/* BEGIN Bold ExtraLightItalic*/
@font-face {
  font-family: 'Titillium Extralight Italic';
  src: url("fonts/titillium/TitilliumWeb-ExtraLightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold ExtraLightItalic*/
/* BEGIN Bold Italic*/
@font-face {
  font-family: 'Titillium Italic';
  src: url("fonts/titillium/TitilliumWeb-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold Italic*/
/* BEGIN Bold Light*/
@font-face {
  font-family: 'Titillium Light';
  src: url("fonts/titillium/TitilliumWeb-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold Light*/
/* BEGIN Bold LightItalic*/
@font-face {
  font-family: 'Titillium Light Italic';
  src: url("fonts/titillium/TitilliumWeb-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold LightItalic*/
/* BEGIN Bold Regula*/
@font-face {
  font-family: 'Titillium Regular';
  src: url("fonts/titillium/TitilliumWeb-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold Regular*/
/* BEGIN Bold Semibold*/
@font-face {
  font-family: 'Titillium Semibold';
  src: url("fonts/titillium/TitilliumWeb-Semibold.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold Semibold*/
/* BEGIN Bold Semibold Italic*/
@font-face {
  font-family: 'Titillium Semibold Italic';
  src: url("fonts/titillium/TitilliumWeb-SemiboldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Bold Semibold Italic*/



/* BEGIN Thin */
@font-face {
  font-family: Roboto Thin;
  src: url("fonts/roboto/Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("fonts/roboto/Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto Thin Italic;
  src: url("fonts/roboto/ThinItalic/Roboto-ThinItalic.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/ThinItalic/Roboto-ThinItalic.woff?v=1.1.0") format("woff"), url("fonts/roboto/ThinItalic/Roboto-ThinItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: italic; }
/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto Light;
  src: url("fonts/roboto/Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("fonts/roboto/Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto Light Italic;
  src: url("fonts/roboto/LightItalic/Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/LightItalic/Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("fonts/roboto/LightItalic/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto Regular;
  src: url("fonts/roboto/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("fonts/roboto/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto Italic;
  src: url("fonts/roboto/Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("fonts/roboto/Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto Medium;
  src: url("fonts/roboto/Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Medium/Roboto-Medium.woff?v=1.1.0") format("woff"), url("fonts/roboto/Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto Medium Italic;
  src: url("fonts/roboto/MediumItalic/Roboto-MediumItalic.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/MediumItalic/Roboto-MediumItalic.woff?v=1.1.0") format("woff"), url("fonts/roboto/MediumItalic/Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto Bold;
  src: url("fonts/roboto/Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("fonts/roboto/Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto Bold Italic;
  src: url("fonts/roboto/BoldItalic/Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/BoldItalic/Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("fonts/roboto/BoldItalic/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 700;
  font-style: italic; }

/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto Black;
  src: url("fonts/roboto/Black/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/Black/Roboto-Black.woff?v=1.1.0") format("woff"), url("fonts/roboto/Black/Roboto-Black.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto Black Italic;
  src: url("fonts/roboto/BlackItalic/Roboto-BlackItalic.woff2?v=1.1.0") format("woff2"), url("fonts/roboto/BlackItalic/Roboto-BlackItalic.woff?v=1.1.0") format("woff"), url("fonts/roboto/BlackItalic/Roboto-BlackItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */
