$bg-header: #532683;
$bg-menu: #6B32A8;
$bg-primary: #6B32A8;
$bg-secondary: #8845CF;
$bg-selected: #7E28DB;
$bg-red: #E02222;
$bg-gray: #EEEEEE;
$color-icon: #5E5C5C;
$primary-text: #000000;
$secondary-text: #FFFFFF;
$text-icon: #FFFFFF;
$size-icon: 22px;
$border-gray: #595959;
$height-menu: 35px;
$bg-gray-dark: #313131;
$break-small: 768px;
$break-large: 990px;

body{
  color: $primary-text;
  
  
  
  background: #FFFFFF;
  
}
.body-content{
  background: $bg-primary;
  #body{
    background: $secondary-text;
  }
  #menu{
    background: $bg-primary;
  }
}



#header{
    background: $bg-header;        
}

.login{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  h1,h2,h3,h4{
        color: #FFFFFF;
    }
}
#user-menu{  
  -webkit-transition: background 1s;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: background 1s;  /* Firefox 4-15 */
       -o-transition: background1s;  /* Opera 10.50–12.00 */
          transition: background 1s;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  &:hover {
    background: $bg-secondary;  
    
  }
  span{
    color: $secondary-text;    
  }
}  
#container-menu{
  background: $bg-menu;
  
  li{
    border-bottom: solid 1px $bg-secondary;
    min-height: $height-menu;
    line-height: $height-menu;
    a{      
      &:hover{
        background: $bg-secondary;
      }  
      color: $secondary-text;  
      i{  
        color: $text-icon;
      }
    }
    
    .menu-selected{
        background: $bg-selected;        
    }
  }  
}

#container-menu .submenu{  
  li{    
    a{
      &:hover{
        background: $bg-secondary;
      }
    }
  }
}

#content{
  background: #FFFFFF;
  min-height: 720px;
  
}

button, .button {
  background-color: $bg-menu;  
}
button:hover, .button:hover, button:focus, .button:focus {
  background-color: $bg-secondary;  
}
#footer{  
  background: $bg-menu;  
}

.menu-focus{
  background: $bg-secondary;
}

.notification{    
    span{
      background : $bg-red;      
      color: $secondary-text;      
    }
}

.content-notification{
  .first{
    background: $bg-gray;    
  }
}
/*TABS*/
.tabs{    
    .active{
        border-top: 2px solid #bg-primary; 
    }
}
/*BOXES*/
.box{
  border: solid 1px $bg-primary;  
  .box-header{
    background: $bg-primary;    
    color: #ffffff;    
  }
}
