a, i {
  font-size: 0.8rem; }

button, .button {
  font-size: 0.7rem; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], textarea, select, .fileWrapper {
  font-size: 0.9rem; }

input[type=checkbox] + label, input[type=radio] + label {
  font-size: 2.375rem; }

span.label {
  font-size: 1.0125rem; }

#container-menu li a .arrow-menu {
  font-size: 1.25rem; }
#container-menu li a i {
  font-size: 1rem; }
#container-menu li .data-hide {
  font-size: 0.8rem;
  line-height: 0.6rem;
  margin: 3px 0; }

.breadcrumbs a, .breadcrumbs i {
  font-size: 0.9rem; }

.custom-select:after {
  font-size: 2rem; }

.fileWrapper .text {
  font-size: 1rem; }

.login {
  font-size: 1rem; }

.niceFileInput {
  font-size: 3.57rem; }

.notification i {
  font-size: 1.57rem; }
.notification span {
  font-size: 0.78rem !important; }

.sub-title {
  font-size: 1.14rem; }

.tabs dd a {
  font-size: 1.03rem;
  padding: 1rem 2rem 0.625rem; }

.title {
  font-size: 2.14rem; }

/* Styles for screens small*/
@media only screen {
  html {
    font-size: 11pt; }

  #header {
    height: 55px; }
    #header #user-menu {
      height: 55px; }

  .custom-select:before {
    width: 1.5rem;
    height: 1.5rem; }

  .text-center-for-small {
    text-align: center; }
  
  .vertical dd a {
    background-color: #F3F3F3;
    border-left: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3; }
  .vertical dd .active a {
    background-color: #FFFFFF; } }
/* Styles for screens medium*/
@media only screen and (min-width: 40.063em) {
  html {
    font-size: 12.5pt; }

  #header {
    height: 44px; }
    #header #user-menu {
      height: 44px; }

  .custom-select:before {
    width: 2rem;
    height: 2rem; } }
/* Styles form screens large*/
@media only screen and (min-width: 64.063em) {
  html {
    font-size: 14pt; } }
