$orange : #f05f40;
$gray   : #333333;

$light-gray : #dddddd;

p{
  line-height: 1.5;
  margin: 0 0 10px;
}

a{
  color: $orange;
  text-decoration: none;
}

.btn{
  border-radius: 0;
}

.btn-primary{
  background: $orange;
  border-color: $orange;

  &:hover{
    background-color: $gray;
    border-color: $gray;
  }
}

#blog-entries{

  .lead{
    font-weight: bold;
    font-size: 1.5em;
  }

  .blog-header{
    background: url('./../images/blog-header.png') $orange;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;

    h1{
      color: $gray;
      margin-bottom: 30px;
    }

    p{
      color: white;
    }
  }

  .blog-description{
    padding: 15px 15px 15px 0;

    p{
      font-size: 1.2em;
      line-height: 1.2em;
    }

    .lead{
      font-size: 1.5em;
      line-height: 1.2;
      background: #f5f5f5;
      padding: 15px;
    }

    .description-txt{
      min-height: 90px;
    }
  }

  .blog-banner {

    background-image: url('/images/gallery/blogbanner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner-text {
    color: white;
    width: 40%;
  }

  @media screen and (max-width: 480px)
  {
    .blog-header{
      background: $orange;

      p{
        font-size: 1em;
      }
    }

    .blog-description{
      padding: 15px;
    }
  }

}

#blog-entry{

  margin-top: 15px;

  .content{
    border: solid 1px $gray;
    border-top: solid 5px $gray;
    padding: 15px;
    margin-bottom: 15px;

    .comments{
      border: solid 1px $orange;
      border-top: solid 5px $orange;
      padding: 15px;
      padding-top: 30px;
      background: url('/images/chat.png') top right no-repeat;
    }

    h1{
      background: $orange;
      color: white;
      padding: 15px;
      line-height: 1;
    }

    p{
      text-align: justify;
      line-height: 1.3;
    }

    img{
      max-width: 100%;
      border: solid 1px $gray;
      border-bottom: solid 5px $gray;
      padding: 2px;
      margin: 5px;
    }

    video{
      min-width: 100%;
      border: solid 1px $orange;
      border-bottom: solid 5px $orange;
      margin-bottom: 15px;
    }
  }

}

.sign-up{
  background: $gray;
  padding: 15px;
  color: #fff;
  margin-bottom: 15px;

  .lead{
    color: $orange;
  }

  label{
    color: $light-gray;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
  }
}