#blog .blog-banner {
  background-image: url("/images/gallery/blogbanner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#blog .banner-text {
  color: white;
  width: 40%; }
