/*
Syntax error: Colors must have either three or six digits: '#b'
        on line 20 of app.scss

15: body{
16:   color: $text-primary;
17:   font-family: 'Open Sans';
18:   font-size: 14px;
19:   font-weight: 300;
20:   background: #bg-primary;
21: }
22: 
23: ul, li{
24:   list-style: none;
25:   margin: 0;

Backtrace:
app.scss:20
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/lexer.rb:282:in `color'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/lexer.rb:239:in `token'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/lexer.rb:218:in `read_token'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/lexer.rb:169:in `peek'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:480:in `try_tok'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:228:in `unary_plus'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:209:in `times_div_or_mod'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:209:in `plus_or_minus'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:209:in `relational'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:209:in `eq_or_neq'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:209:in `and_expr'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:209:in `or_expr'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:298:in `space'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:283:in `interpolation'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:246:in `expr'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:470:in `assert_expr'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/script/parser.rb:49:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1021:in `sass_script'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:881:in `value!'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:858:in `declaration'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:581:in `block in declaration_or_ruleset'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `call'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:1122:in `rethrow'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:552:in `block_child'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/scss/parser.rb:27:in `parse'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:342:in `_to_tree'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:283:in `block in watch'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.11/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#b'\A         on line 20 of app.scss\A \A 15: body{\A 16:   color: $text-primary;\A 17:   font-family: 'Open Sans';\A 18:   font-size: 14px;\A 19:   font-weight: 300;\A 20:   background: #bg-primary;\A 21: }\A 22: \A 23: ul, li{\A 24:   list-style: none;\A 25:   margin: 0;"; }
