@import "variables.less";
@import "mixins.less";

// Global Components
html,
body {
    height: 100%;
    width: 100%;
}

body {
    .serif-font;
}

hr {
    border-color: #ee4b28;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}


a {
    .transition-all;
    color: @theme-primary;
    &:hover,
    &:focus {
        color: darken(@theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: @theme-primary;
}

.bg-dark {
    background-color: @gray-dark;
    color: white;
}

.text-faded {
    color: fade(white, 70%);
}

section {
    padding: 100px 0;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #fff;
  text-decoration: none;
}

aside {
    padding: 50px 0;
}

.glyphicon { margin-right:5px; }

.no-padding {
    padding: 0;
}
.facebook-section{
    padding: 40px 0;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 450px;
  margin: 0 auto; 
}
.large-popup{
  max-width: 1050px;
}
.medium-popup{
  max-width: 650px;
}
.header-spacing{
    height: 65px;
    @media (max-width: 768px) {
        height: 60px;
    }
}
.panel-group {
  margin-bottom: 0px;
}
.categories-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    a{
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;
    }
}
// Navigation

#mainNav {
    border-bottom: 4px solid @theme-primary!important;
}

.navbar-default {
    background-color: white;
    min-height: 70px;
    border-color: fade(@gray-darker, 5%);
    .sans-serif-font;
    .transition-all;
    .navbar-header .navbar-brand {
        color: @theme-primary;
        .sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken(@theme-primary, 10%);
        }
    }
    .navbar-header .navbar-toggle {
        font-weight: 700;
        font-size: 12px;
        color: @theme-primary;
        text-transform: uppercase;
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                color: @gray-darker;
                font-size: 12px;
                &:hover {
                    color: @theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: @theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
        margin-top: 0.5%;
    }
    .stylish-input-group{
            margin-top: 0%;
    }
    .stylish-input-group .input-group-addon{
            background: white !important; 
            margin-top: 2.5%;
    }
    .stylish-input-group .form-control{
            border-right:0; 
            box-shadow:0 0 0; 
            border-color:none;
    }
    .stylish-input-group button{
            border:0;
            background:transparent;
    }
    .navbar-brand {
        img{
            width:60%;
            @media (max-width: 640px) and (orientation: landscape) {
                width: 38%;
           }
        }
    }
    @media (max-width: 768px) {
        min-height: 60px;
        .navbar-brand {
            width: 80%;
            img{
                /*width: 60%;*/
            }
        }
        
    }
    @media (min-width: 768px) {
        background-color: rgba(255, 255, 255, 1);
        border-color: fade(white, 30%);
        .navbar-header .navbar-brand {
            color: fade(@gray, 70%);
            &:hover,
            &:focus {
                color: @gray;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: fade(@gray, 70%);
            &:hover {
                color: @gray;
            }
        }
        &.affix {
            background-color: white;
            border-color: fade(@gray-darker, 5%);
            .navbar-header .navbar-brand {
                color: @theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken(@theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: @gray-darker;
                &:hover {
                    color: @theme-primary;
                }
            }
        }
    }
}
footer{
    padding: 50px 0 5px;
    background: #444;
    .navbar-inverse{
        background-color: #444;
        border: 0px solid;
        .navbar-default{
            background-color: #444;
        }
    }
    .nav{
        li{
            a{
                color: #fff;
                padding: 2px 15px;
                &:hover {
                    background-color: #444;
                }
                &:focus {
                    background-color: #444;
                }
            }
        }
    }
    .copyright{
        color: #fff;
    }
}
// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    .background-cover;
    background-position: center;
    background-image: url('../images/paid-search-banner.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 30px;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: fade(white, 70%);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                h1 {
                    font-size: 50px;
                }
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections
carousel,
.item,
.active {
    height: 100%;
}
.hide-filters{
  border-radius: 50px;
  cursor: pointer;
  top: 25%;
  float: right;
  height: 60px;
  padding: 0.5% 0 0;
  position: fixed;
  right: 4%;
  text-align: center;
  width: 60px;
  z-index: 100000;
}
.outstanding{
    margin-top: 6%;
    .products-carrousel{
        margin-top: 0%;
        img{
            width: 70%;
            margin: 0 15%;    
        }
    }
}
.carousel-inner {
    height: 100%;
}

.c-no{height:150px;}
.grey-bg{background:#ebebeb;}
.counter-Txt{text-align:center; font-size:20px; font-weight:bold; text-transform:uppercase; margin-top:20px;}
.counter-Txt span{display:block; font-size:36px}
@media(min-width:320px) and (max-width:767px){ 
.c-no{height:100%;}
.counter-Txt{margin-top:35px;}
.margin-bot-35{margin-bottom:35px;}
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
.top-nav-categories{
  background: #fff none repeat scroll 0 0;
  float: left;
  margin-top: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  border-bottom: 4px solid #ee4b28;
  a{
    text-decoration: none;
    color: @theme-primary;
    .cat-name{
        padding: 2% 0;
        font-size: 20px;
    }
  }
  @media (min-width: 768px) {
        margin-top: -7px;
        
    }
  @media (max-width: 768px) {
        margin-top: 4px;
        
    }
   @media (max-width: 640px) and (orientation: landscape) {
        margin-top: -32px;
   }
}
.navbar{
    margin-bottom: 0;
}
#myCarousel {
    margin-top: 1%;
    margin-bottom: 2%;
    /*margin-left: 1.5%;*/
    width: 100%;
    .item{
        a{
            
        }
        line-height: 0;
    } 
    .carousel-caption {
        left: 20%;
        padding-bottom: 5%;
        right: 20%;
        h1{
            font-size: 2.5rem;
            font-weight: bold;
        }
        p{
            font-size: 1.5rem;
        }
    }
    @media (max-width: 768px) {
        margin-top: 42%;
        /*width: 100px;*/
        .carousel-caption {
          padding-bottom: 10%;
          h1{
              font-size: 2rem;
          }
        }
    }
}
.banner-suffix {
    background-color: #F27C17;
    color: #fff;
    margin: 13px 0 -10px;
    padding: 9px 0 13px;
}
.banner-categories{
  margin-top: 25px;
  text-align: center;
  .category-item{
      color: #FFFFFF;
      padding: 5% 0;
      font-size: 3rem;
  }
}
#testimonials{
    .item{
        margin-top: 8%;
        .profile-circle {
            img{
                border-radius: 50%
            }
        }
        blockquote {
            text-align: center;
            border: none;
            padding: 0 20px;
        }
    }
    .carousel-indicators {
        bottom: 0;
        top: 2%;
    }
    .testimonial-video{
        line-height: 0;
    }
    
}
.section-heading {
    margin-top: 0;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

#portfolio{
  padding: 0 2.2%;
}
.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 1;
        display: block;
        background: fade(@gray-dark, 50%);
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 25%;
        .transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                .sans-serif-font;
                padding: 0 10px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 25px;
            }
            .project-name-search {
                .transparent-input{
                    background-color: rgba(0,0,0,0);
                    border-radius: 50px;
                    padding: 10px 50px;
                    border: 2px solid #fff;
                    color: #fff;
                    &::-webkit-input-placeholder {
                        color: #fff;
                    }
                    &:-moz-placeholder {
                        color: #fff;
                    }
                    &::-moz-placeholder {
                        color: #fff;
                    }
                    &:-ms-input-placeholder {
                        color: #fff;
                    }
                }
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
            height: 100%
        }
    }
    &:focus {
        outline: none;
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
/*                .project-name {
                    font-size: 22px;
                }*/
            }
        }
    }
}
.thumbnail{
    padding: 0;
    background-color: #f2f2f2;
    &:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    }
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(250, 250, 250, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    color: @gray;
}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(250, 250, 250, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
    color: @gray;
}
.starrr
{
    font-size: 20px;
    color: @theme-primary;
    margin-right: 1px;
}
.benefits{
    margin-top: 115px;
    padding: 1% 0 0 0;
    @media (max-width: 768px) {
        padding: 5% 0;
        font-size: 10px;
    }
}
.embebed-video{
    margin-top: 10px;
    z-index: -1;
}
.first-quote {
    li {
	background-color: #d0d0e1;
	padding: 3% 5%;
	border-radius: 7px;
        cursor: pointer;
        font-weight: 600;
        color: #666;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }
    .selected{
        background-color: @theme-primary;
        color: #fff;
        opacity: .75;

    }
    .locked{
        cursor: not-allowed;

    }
}
.categories-row{
    /*padding: 1% 0 0 0;*/
    /*margin-top: 1.5%;*/
    background-color: #333;
    padding: 0.5%;
    font-size: 1.4rem;
    @media (max-width: 768px) {
        padding: 5% 0;
    }
    a {
        color: #fff;
    }
}
.deal {
    padding: 0 8%;
    a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	background-color: #f2f2f2;
	transition: all .3s ease;
	transition: width .3s ease;
        text-decoration: none;
        width: 100%; 
        &:hover{
            /*width: 105%;*/ 
            transition: all .3s ease;
            box-shadow: -2px 3px 18px rgba(0,0,0,.3);
            -moz-box-shadow: -2px 3px 18px rgba(0,0,0,.3);
        }
        .deal-caption {
            padding: 10px 8%;
            color: #333;
            .brand-name{
                color: #aaa;
                
            }
            .price-lead{
                color: @theme-primary;
                
            }
            .price-lead-strike {
                color: #aaa;
                font-size: 1.2rem;
                line-height: 0.5;
                margin-bottom: 0;
            }   
        }
    }
}
#products{
    padding-top: 6%;
    .item{
        padding-left: 0px;
        padding-right: 0px;
        .product-box {
            position: relative;
            display: block;
            /*max-width: 650px;*/
            margin: 0 auto;
            img{
                transition: all .2s ease-in-out;
                width: 100%;

            }
            .comparison-active{
                background-color: #b27015;
            }
            .favorite-active{
                background-color: #5bc0de;
            }
            .caption{
                .brand-name{
                    min-height: 2.8rem;
                }
                .product-name{
                    min-height: 3.4rem;
                }
            }
            .product-box-caption {
                color: white;
                opacity: 0;
                display: block;
                background: fade(@theme-primary, 70%);
                position: absolute;
                bottom: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                .transition-all;
                .product-box-caption-content {
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    .project-category,
                    .project-name {
                        .sans-serif-font;
                        padding: 0 15px;
                    }
                    .project-category {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    .project-name {
                        font-size: 18px;
                    }
                }
            }
            &:hover {
                .img{
                    transform: scale(1.8);
                }
                .product-box-caption {
                    opacity: 1;
                }
            }
            &:focus {
                outline: none;
            }
            @media (min-width: 768px) {
                .product-box-caption {
                    .portfolio-box-caption-content {
                        .project-category {
                            font-size: 16px;
                        }
                        .project-name {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        @media (min-width: 768px) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
.product-disclamer{
    p{
        font-size: 11px;
    }
}

#comparison{
    color: @gray-lighter;
    ul{
        float: right;
        li{
            padding: 10px 20px;
            label{
                padding: 0 5px;
            }
            img{
                width:  48px;
                height: 38px;
                border-radius: 3px;
            }
        }
    }
    .navbar-header{
        label{
            margin-top: 15px;
        }
    }
}

#filter-div {
  float: left;
  position: fixed;
  z-index: 10;
}
.initiallyHidden { display: none; }
.favorite-active{
    background-color: #ec971f;
}
.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: @theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.profile {
  -moz-border-bottom-colors: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-top-colors: none !important;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: transparent transparent #d0d0d0;
  border-image: none !important;
  border-radius: 0 !important;
  border-style: none none solid !important;
  border-width: medium medium 1px !important;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
  font-family: univia-pro;
  font-size: 12pt;
  transition: border-color 0.5s ease-in-out 0s;
}
.validation-error{
  transition: border-color 0.5s ease-in-out 0s;
  border-bottom: 1px solid @theme-primary!important;  
}

// Button Styles
.btn-default {
    .button-variant(@gray-darker;white;white);
}

.btn-primary {
    .button-variant(white;@theme-primary;@theme-primary);
}
.btn-social-icon{
    padding: 13px 15px 10px!important;
    margin: 0px 5px!important;
    height: 53px;
    width: 53px;
}
.btn-facebook{
    background-color: #004990;
    border-color: #269abc;
    color: #fff;
    &:hover{
        color: #fff;
        background-color: #3b5998!important;
    }  
}
.btn-instagram{ 
    /*width:100px; height:100px;*/
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    &:hover{
        color: #fff;
        background-color: #3b5998!important;
    }  
}
.btn-twitter{
    background-color: #2184EF;
    border-color: #269abc;
    color: #fff;
    &:hover{
        color: #fff;
        background-color: #64B2F8!important;
    }  
}
.btn-youtube{
    background-color: #CC181E;
    border-color: #269abc;
    color: #fff;
    &:hover{
        color: #fff;
        background-color: #DF192A!important;
    }  
}
.btn-google{
    background-color: #DB4437;
    border-color: #269abc;
    color: #fff;
    &:hover{
        color: #fff;
        background-color: #E06055!important;
    }  
}
.btn {
    .sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

::selection {
    color: white;
    text-shadow: none;
    background: @gray-darker;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: @gray-darker;
}

#footer{
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.login-background{
  background: rgba(0, 0, 0, 0) url("../images/homecolor.png") no-repeat fixed center center;
  background-size: cover;
}
/**
* Chat css
**/

.chat_window {
  position: fixed;
  width: calc(100% - 75px);
  max-width: 400px;
  height: 179px;
  border-radius: 10px;
  background-color: #fff;
  left: 16%;
  bottom: -34%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: @theme-primary;
  width: 100%;
  padding: 7px 0;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #ff0;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #c7eafc;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #c7eafc;
}
.messages .message.left .text {
  color: #45829b;
}
.messages .message.right .avatar {
  /*background-color: #fdbf68;*/
  background-image: url(../images/logo0.png);
  background-size: 40px 40px;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #ffe6cb;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #ffe6cb;
}
.messages .message.right .text {
  color: #c48843;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 15px;
  border-radius: 6px;
  width: calc(100% - 25px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 14px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 31%);
  position: relative;
  padding: 0 22px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 20px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .send_message {
  width: 90px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .send_message .text {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}