@charset "UTF-8";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul.links li {
    padding: 1px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    max-width: 100%;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

body {
    -ms-overflow-style: scrollbar;
}

body {
    background: #fff;
    font-family: "univia-pro";
    color: #7E7E7E;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}


@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 11pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a {
    color: #353C5A;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong, b {
    color: #727a82;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #727a82;
    font-weight: 700;
    font-family: "univia-pro", sans-serif;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    font-style: italic;
    margin: 0 0 2em 0;
}

cite {
    display: block;
}

cite.author {
    font-weight: 400;
}

cite.company {
    font-size: .8em;
}

figure {
    margin: 0 0 2em 0;
}

code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: solid 1px #dee1e3;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75;
    padding: 1em 1.5em;
    overflow-x: auto;
}

hr {
    border: 0;
    border-bottom: solid 1px #dee1e3;
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

header p {
    color: #bbb;
    position: relative;
    margin: 0 0 1.5em 0;
}
#opc_destacados:focus, #opc_favoritos:focus, #opc_carrito:focus, .dropdown-toggle:focus,#opc_destacados:hover, #opc_favoritos:hover, #opc_carrito:hover, .dropdown-toggle:hover {
    background: none!important;
}

header h1 + p {
    font-size: 1.25em;
    margin-top: -1em;
}

header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
}

header h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: #dee1e3;
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}

.select-wrapper select::-ms-expand {
    display: none;
}


/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.round img {
    border-radius: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

/* List */

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #dee1e3;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {

    ul.actions {
        margin: 0 0 2em 0;
    }

    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        width: 100%;
        margin: 0 !important;
    }

    ul.actions li > *.icon:before {
        margin-left: -2em;
    }

    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }

    ul.actions.small li:first-child {
        padding-top: 0;
    }

}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 700;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #f6755e;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "univia-pro";
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 3.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
}
.form-control {
    font-family: "univia-pro";
}
#submit-recover{
    font-size: 8pt;
}
/* Wrapper */

.wrapper {
    padding: 6em 0 4em 0;
}
.wrapper1 {
    background: #F6F6F6;
}
.wrapper2 {
    background: #FFF;
}
.wrapper {
    background: #FFF;
}
.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5 {
    color: #FA9801;
}

.wrapper.style1 {
    background: #F6F6F6;
    color: #fcdcd6;
}
.wrapper.style2 {
    background: #FFF;
    color: #fcdcd6;
}
.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5 {
    color: #fff;
}

.wrapper.style1 cite.author {
    color: #fff;
}

@media screen and (max-width: 980px) {

    .wrapper {
        padding: 3em 0 1em 0;
    }

}

@media screen and (max-width: 480px) {
    #imenu {
        position: relative;
        top: -70px!important;
    }
    .wrapper {
        padding: 2em 0 0.1em 0;
    }

}

/* Header */

body {
    padding-top: 6em;
}

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25); 
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);*/
    text-align: center;
}
#header2 {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: transparent;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);*/
    text-align: center;
}
#header .logo {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 8px;
    text-decoration: none;
    display: inline-block;
}
#header .logop {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}
#header .icono_barra {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right : 3px;
    text-decoration: none;
    display: inline-block;
}
#header .icono_barrab {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right : 6px;
    text-decoration: none;
    display: inline-block;
}
#header .icono_barrac {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-left: 3px;
    margin-right : 6px;
    text-decoration: none;
    display: inline-block;
}
#header2 .pasos {
    margin-top: 50px;
    display: inline-block;
}
#header nav {
    position: absolute;
    top: 0;
    height: inherit;
    line-height: inherit;
}
#header2 nav {
    position: absolute;
    top: 0;
    height: inherit;
    line-height: inherit;
    background: transparent;
}
#header nav.left {
    left: 2em;
}
#header2 nav.left {
    left: 2em;
}
#header nav.right {
    right: 2em;
}
#header2 nav.right {
    right: 2em;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}
#header nav .button {
    padding: 0 2em;
    height: 3.25em;
    line-height: 3.25em;
}
#header2 nav .button {
    padding: 0 2em;
    height: 3.25em;
    line-height: 3.25em;
}
#header nav a {
    text-decoration: none;
    display: inline-block;
}
#header2 nav a {
    text-decoration: none;
    display: inline-block;
}	
#header nav a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    color: #dee1e3;
    z-index: 10005;
}
#header2 nav a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    color: #dee1e3;
    z-index: 10005;
}	
#header nav a[href="#menu"]:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header nav a[href="#menu"] span {
    display: none;
}
#header nav a[href="#menu"]:before {
    margin: 0 0.5em 0 0;
}
@media screen and (max-width: 980px) {

    body {
        padding-top: 44px;
    }

    #header {
        height: 44px;
        line-height: 44px;
    }

    #header .logo {
        font-size: 1.25em;
        text-align: center;
    }
    #header .logop {
        font-size: 1.25em;
        text-align: center;
    }
    #header .icono_barra {
        font-size: 1.25em;
        text-align: center;
    }
    #header .icono_barrab {
        font-size: 1.25em;
        text-align: center;
    }
    #header .icono_barrac {
        font-size: 1.25em;
        text-align: center;
    }
    #header2 .pasos{
        font-size: 1.25em;
        text-align: center;
    }
    #header nav a[href="#menu"] {
        font-size: 1.5em;
    }

    #header nav.left {
        left: 1em;
    }

    #header nav.right {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    #header {
        min-width: 320px;
    }
    #header2 {
        min-width: 320px;
    }
    #header .logo {
        width: 90px;
        height: 90px;
    }
    #header .logop {
        width: 90px;
        height: 90px;
    }
    #header .icono_barra {
        width: 90px;
        height: 90px;
    }
    #header .icono_barrac {
        width: 90px;
        height: 90px;
    }
    #header .icono_barrab{
        width: 90px;
        height: 90px;
    }
    #header2 .pasos {
        width: 90px;
        height: 90px;
    }
}

/* Menu */

#menu {
    -moz-transform: translateX(-20em);
    -webkit-transform: translateX(-20em);
    -ms-transform: translateX(-20em);
    transform: translateX(-20em);
    -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: #FFFFFF;
    color: #000;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 18em;
    z-index: 10002;
}
.menu-icon  {
    display: inline-block;
    margin-top: 5%;
}
#menu_lp {
    -webkit-overflow-scrolling: touch;
    background: #FFFFFF;
    color: #000;
    height: 100%;
    left: 0;
    top: 88px;
    /*width: 100%;*/
    z-index: 10002;
    /*margin-top: 100px;*/
}

.close{
    opacity: 1!important; 
    font-size: 12pt!important;
    width : 50px;
}
#menu > ul {
    margin: 0 0 1em 0;
}

#menu > ul.links {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-family: "univia-pro";
    color: rgb(125, 125, 125);
}

#menu > ul.links > li {
    padding: 0;
    border-top: 1 !important;
}

#menu > ul.links > li > a:not(.button) {
    border: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    color: inherit;
    display: block;
    line-height: 3.5em;
    text-decoration: none;
}

#menu > ul.links > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
}

#menu > ul.links > li:first-child > a:not(.button) {
    border-top: 0 !important;
}

#menu > ul.actions {
    display: none;
}

#menu .close {
    text-decoration: none;
    border: 0;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 20px;
    vertical-align: middle;
    background-image: url(../../images/iconclose.png); 
    background-position: top left;
    background-repeat: no-repeat;
}

#menu .close:before {


    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu .close:before {
    font-size: 1.25em;
}

#menu .close:hover {

}

@media screen and (max-width: 736px) {

    #menu .close {
        height: 4em;
        line-height: 4em;

    }

}

#menu.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
}

@media screen and (max-width: 980px) {

    #menu ul.actions {
        display: block;
    }

}

@media screen and (max-width: 736px) {

    #menu {
        padding: 2.5em 1.75em;
    }

}

/* Banner */

#banner {
    height: 600px;
    width: 100%;
    padding: 14em 0 12em 0;
    background-image: url(../../images/home-banner-a.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}
#opc1{
    height: 800px;
    width: 100%;
}
#opc2{
    height: 600px;
    width: 100%;
}
#opc3{
    padding: 0px 0;
    height: 450px;
    width: 100%;
}
#opc4{
    height: 650px;
    width: 100%;
}

@media screen and (max-width: 480px)
{

    #opc4 br{
        display: none;
    }

}

#opc5{
    height: 100%;
    width: 100%;
}

#banner .content {
    -moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
    -ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
    transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
}

#banner h1 {
    font-size: 3em;
    color: #FFF;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner p {
    font-size: 1.25em;
    margin-bottom: 1.75em;
}

@media screen and (max-width: 1280px) {

    #banner {
        padding: 12em 0 10em 0;
    }

}

@media screen and (max-width: 980px) {

    #banner {
        padding: 8em 6em 6em 6em;
    }

    #banner br {
        display: none;
    }

    #banner h1 {
        font-size: 2.25em;
    }

}

@media screen and (max-width: 736px) {

    #banner {
        padding: 6em 4em 4em 4em;
    }

}

@media screen and (max-width: 480px) {

    #banner{
        height: auto;
    }

    #banner h1 {
        font-size: 2em;
    }

    #banner p {
        font-size: 1em;
    }

    #banner .button {
        font-size: .9em;
    }

    #opc1{
        padding: 4em 2em 2em 2em;
    }	
    #opc1 h1 {
        font-size: 2em;
    }

    #opc1 p {
        font-size: 1em;
    }

    #opc1 .button {
        font-size: .9em;
    }
    #opc2 .button {
        font-size: .9em;
    }
    #opc3 .button {
        font-size: .9em;
    }
    .btn_tipo3 {
        font-size: 12pt;
    }
}

body.is-loading #banner .content {
    opacity: 0;
    -moz-transform: translateY(1em);
    -webkit-transform: translateY(1em);
    -ms-transform: translateY(1em);
    transform: translateY(1em);
}



#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
    padding-top: 1em;
}

#one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
    -moz-align-self: -moz-flex-end;
    -webkit-align-self: -webkit-flex-end;
    -ms-align-self: -ms-flex-end;
    align-self: flex-end;
}

#one .flex-item.left div p, #one .flex-item.right div p {
    margin-bottom: 1em;
}

@media screen and (max-width: 1280px) {

    #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
        padding-top: 0;
    }

    #one .flex-item.left div p, #one .flex-item.right div p {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 980px) {
    #imenu {
        position: relative;
        top: -9px;
    }
    #one .flex-item {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    #one .flex-item.left br, #one .flex-item.right br {
        display: none;
    }

    #one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
        padding-top: 0;
    }

    #one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
        -moz-align-self: center;
        -webkit-align-self: center;
        -ms-align-self: center;
        align-self: center;
    }

    #one .flex-item.left div p, #one .flex-item.right div p {
        margin-bottom: 2em;
    }

}






/* BARRA SUPERIOR*/
.barra_sup1{
    background: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
    padding-bottom: 7px;
    margin-left: -15px;
    margin-right: -15px;
}
.barra_sup1 li {
    /*border-right: 1px solid #7D7D7D;*/
    padding-left: 11px;
}
.barra_sup1 li:last-child {
    border-right: none;
}
.barra_sup1 a {
    font-size: 14px;
    font-family: "univia-pro";
    color: rgb(125, 125, 125);
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 20px;
    text-decoration: none;
}
.barra_sup1 a:hover {
    color: #DE473B;
    border-bottom: 5px solid #DD3538; 
}
.barra_sup1_activo {
    color: #DE473B!important;
    border-bottom: 5px solid; 
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#E6AF49), to(#DD3538), color-stop(0.5, #DD3538), color-stop(0.5, #E6AF49)) 21 60 60 21 repeat repeat;
}


/* FOOTER
================================================ */

footer {
    background: #fff;
    border-top: 2px solid #efefef;
    padding: 20px 0;
}
.footer-menu li {
    border-right: 1px solid #7D7D7D;
    padding-left: 11px;
}
.footer-menu li:last-child {
    border-right: none;
}
.footer-menu a {
    font-size: 10px;
    font-family: "univia-pro";
    color: rgb(125, 125, 125);
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 20px;
    text-decoration: none;
}
.footer-menu a:hover {
    color: #DE473B;
    text-decoration: none;
}
.footer-content p {
    font-family: "univia-pro";
    font-size: 10px;
    color: #7D7D7D;

}
.footer hr {
    background-color: #efefef;
    height: 1px;
}	
/*  TITULOS */
.tit_1{
    font-family: "univia-pro";
    font-size: 20pt;
    font-weight: bold;
    color: #FFF;
}
.tit_2{
    font-family: "univia-pro";
    font-size: 14pt;
    font-weight: bold;
    color: #FFF;
}
.tit_3{
    font-family: "univia-pro";
    font-size: 28pt;
    color: #FE9900;
}
.tit_4{
    font-family: "univia-pro";
    font-size: 20pt;
    color: #434656;
}
.tit_5{
    font-family: "univia-pro";
    font-style: bold;
    font-size: 24pt;
    color: #FA9801;
}

@media screen and (max-width: 480px){
    .tit_5{
        font-size: 21pt;
        text-align: center;
    }
}

.tit_6{
    font-family: "univia-pro";
    font-style: normal;
    font-size: 20pt;
    color: #FE9900;
}

@media screen and (max-width: 480px){
    .tit_6{
        font-size: 16pt;
        text-align: center;
    }
}

.tit_7{
    font-family: "univia-pro";
    font-style:bold;
    font-size: 24pt;
    color: #5B667A;
}

@media screen and (max-width: 480px){
    .tit_7{
        font-size: 18px;
    }
}

.tit_8{
    font-family: "univia-pro";
    font-style:normal;
    font-size: 14pt;
    color: #636B7E;
}

@media screen and (max-width: 480px){
    .tit_8{
        font-size: 12px;
    }
}

.tit_9 {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
}
.tit_10{
    font-family: "univia-pro";
    font-style: normal;
    font-size: 14pt;
    color: #FE9900;
}
.tit_11{
    font-family: "univia-pro";
    font-size: 24pt;
    font-style: normal;
    color: #FFF;
}

@media screen and (max-width: 480px)
{
    .tit_11{
        margin-top: 160px;
        text-align: center;
    }

}

.tit_12{
    font-family: "univia-pro";
    font-size: 20pt;
    font-style: normal;
    color: #FFF;
}
.tit_13 {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
    color: #976236;
}
.tit_13_1 {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
    color: #FFF;
}

@media screen and (max-width: 480px)
{

    .tit_13_1{
        background: rgba(0,0,0,0.5);
        padding: 15px;
        border-radius: 4px;
        margin-top: 80px;
    }

}

.tit_14 {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: left;
    color: #8A8D96;
}
.tit_14_1 {
    font-family: "univia-pro";
    font-size: 9pt;
    text-align: left;
    color: #C7CBD9;
}
.tit_14_2{
    font-family: "univia-pro";
    font-size: 10pt;
    text-align: center;
    color: #AEB5C4;
}
.tit_15{
    font-family: "univia-pro";
    font-weight: bold;
    font-size: 12pt;
    color: #FE9900;
    text-align: left;
}
.tit_16{
    font-family: "univia-pro";
    font-weight: bold;
    font-size: 10pt;
    color: #A0ADC8;
    text-align: left;
    text-decoration: none;
}
.tit_17{
    font-family: "univia-pro";
    font-size: 12pt;
    color: #5E687C;
    text-align: left;
    text-decoration: none;
}
.tit_17b {
  color: white;
  font-family: "univia-pro";
  font-size: 12pt;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}
.tit_17b div{
  margin-bottom: 15px;  
}
.tit_17b:hover{
  color: white;  
}
.tit_18{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #A0ADC8;
    text-align: left;
    text-decoration: none;
}
.tit_18:hover {
    text-decoration: none;
}
.tit_19{
    font-family: "univia-pro";
    font-weight: bold;
    font-size: 14pt;
    color: #FE9900;
    text-align: center;
}
.tit_20{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #5E687C;
    text-align: center;
    text-decoration: none;
}
.tit_21{
    font-family: "univia-pro";
    font-weight: bold;
    font-size: 10pt;
    color: #FE9900;
    text-align: right!important;
}
.tit_22{
    font-family: "univia-pro";
    font-size: 12pt;
    color: #999DA8!important;
    text-align: left!important;
    text-decoration: none;
}
.tit_23{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #999DA8!important;
    text-align: center!important;
    text-decoration: none;
}
.tit_24{
    font-family: "univia-pro";
    font-weight: bold;
    font-size: 10pt;
    color: #FE9900;
    text-align:left!important;
}
.tit_tarjeta_a{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #999DA8!important;
    text-align: left;
    text-decoration: none;
}
.tit_tarjeta_al{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #999DA8!important;
    text-align: left;
    text-decoration: none;
}

.tit_tarjeta_al:hover {
    color: #FD9A00!important; 
}
.tit_comparar_a{
    font-family: "univia-pro";
    font-size: 12pt;
    color: #E0E0E0!important;
    text-align: center;
    margin-top: 20%;
    padding-right: 7%;
}
.tit_comparar_b{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #E0E0E0!important;
    text-align: center;

}
.tit_comparar_c{
    font-family: "univia-pro";
    font-size: 12pt;
    font-weight: bold;
    color: #E3911E!important;
    text-align: center;
    text-decoration: none;
}
.tit_comparar_d{
    font-family: "univia-pro";
    font-size: 10pt;
    color: #E0E0E0!important;
    text-align: center;
    text-decoration: none;
}
.tit_tarjeta_b{
    font-family: "univia-pro";
    font-size: 10pt;
    font-weight: bold;
    color: #5E687C;
    text-align: left;
    text-decoration: none;
}
.tit_tarjeta_c{
    font-family: "univia-pro";
    font-size: 10pt;
    font-weight: bold;
    color: #5E687C;

    text-align: center;
    text-decoration: none;
}
.tit_tarjeta_c:hover {
    text-decoration: none;
    color: #FD9A00;

}
.tit_tarjeta_e{
    font-family: "univia-pro";
    font-size: 10pt;
    font-weight: bold;
    color: #5E687C;
    text-align: center;
    text-decoration: none;
}
.tit_tarjeta_f{
    font-family: "univia-pro";
    font-size: 10pt;
    font-weight: bold;
    color: #5E687C;
    text-align: left;
    text-decoration: none;
}
.tit_tarjeta_f1{
    font-family: "univia-pro";
    font-size: 10pt;
    font-weight: bold;
    color: #626B7E;
    text-align: left;
    text-decoration: none;
    display:inline-block;
}
.tit_tarjeta_f1_a{
    font-family: "univia-pro";
    font-size: 16pt;
    font-weight: bold;
    color: #626B7E;
    text-align: left;
    text-decoration: none;
    display:inline-block;
    cursor: pointer;
    width: 100%;
}
.tit_tarjeta_f1_a:hover {
    color: #FD9A00!important; 
}
.tit_tarjeta_f11{
    font-family: "univia-pro";
    font-size: 12pt;
    font-weight: bold;
    color: #999DA8!important;
    text-align: left;
    text-decoration: none;
    display:inline-block;
}
.tit_tarjeta_f2{
    font-family: "univia-pro";
    font-size: 10pt;
    font-weight: bold;
    color: #FF3636;
    text-align: right;
    text-decoration: none;
    display:inline-block;
}
/*.pagination>li>a, .pagination>li>span {
        border-radius: 15px !important; 
        line-height: 1.42857143;
        height: 60px;
        width: 70px;
        color: #FFF!important;
        text-decoration: none;
        background-color: #808BA1!important;
        border: 2px solid #626B7E!important;
        
}*/
.caja_compara{
    border-radius: 15px !important; 
    line-height: 1.42857143;
    height: 80px;

    color: #FFF!important;
    text-decoration: none;
    background-color: #808BA1!important;
    border: 2px solid #626B7E!important;
}
.caja_pos{
    background-color: #808BA1!important;
    border: 0px!important;
    padding: opx!important;
}
.caja_pos img{
    margin-left: -50%;
    min-width: 200%;
}
.item {
    display: block;
    height: auto;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
}
/**********************************************************/

/*  BOTON */

.btn_tipo1 {
    background-image: -moz-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    border-radius: 25px;
    color: #fff !important;
    font-size: 12px;
    font-family: "univia-pro";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

}
.btn_tipo1:hover {
    color: #3A3E59!important;
}

.btn_tipo2 {
    background-image: -moz-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    font-family: "univia-pro";
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    border-radius: 33px;
    margin-bottom: 15px;
}
.btn_tipo3 {
    border-radius: 33px;
    background-image: -moz-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);

    font-family: "univia-pro";
    font-size: 16pt;
    text-align: center;

}
.btn_tipo4{
    border-radius: 33px;
    background-image: -moz-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
}
.btn_tipo4:hover {
    color: #235272!important;
}
.btn_blanco {
    color: #FFF!important;
    background: transparent!important;
    font-size: 12pt;
    font-family: "univia-pro";
}
.btn_blanco:hover {
    color: #E6AE49!important;
    background: transparent!important;
    font-size: 14pt;
}
.btn_blancop {
    color: #3A3E59!important;
    background: transparent!important;
    font-size: 12pt;
    font-family: "univia-pro";
    font-weight: bold;
}
.btn_blancop:hover {
    color: #E2553F!important;
    background: transparent!important;
}


/* LISTAS */
.paso1 {
    display:inline-table; 
    list-style-image: url(../../images/btn_1.png);
}
.paso2 {
    list-style-image: url(../../images/btn_2.png);
}
.paso3 {
    list-style-image: url(../../images/btn_3.png);
}
.paso4 {
    list-style-image: url(../../images/btn_4.png);
}

.menu_principal_1 {
/*    border : 2px solid #efefef;
    background-color: #FFF;*/
    margin: 20pt auto;
    width: 100%;
    height: 170px;
    margin-top: -170px;
    z-index: 1000;
    position:relative;
    border-radius: 4px;
}
.carousel-caption {
  top: 25%;
  color: #fff;
  left: 15%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 15%;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.carousel-caption h1{
  color: #FFFFFF;
}
.carousel-caption-left {
  left: 60%;
}
.carousel-caption-right {
  right: 60%;
}
.carousel-caption-center {
  right: 20%;
  left: 20%;
}
.menu_principal_b {
    float:left;
    left:50%;
    list-style-type:none;
    margin: 10pt auto;
    padding:10pt;
    position:relative;
}
.menu_principal_b li {
    float:left;
    position:relative;
    right:50%;
    padding-left: 25px;
}

@media screen and (max-width: 480px){

    .menu_principal_1{
        /*display: none;*/
        margin-top: -80px;
        height: 500px;
    }
    .carousel-caption h1{
        font-size: 0.8em;
    }
    .tit_17b{
        color: #5e687c;
    }
    .tit_17b:hover{
        color: #5e687c;
    }

}

.menu_social {
    float:left;
    left:50%;
    list-style-type:none;
    margin: 10pt auto;
    padding:10pt;
    position:relative;
}

.menu_social li {
    float:left;
    position:relative;
    right:50%;
    padding-left: 25px;
}
.menu_social2{
    float:left;
    list-style-type:none;
    position:relative;

}

.menu_social2 li {
    float:left;
    position:relative;
    padding-left: 5px;
}



/*.menu_social2 li:last-child {
border-bottom: 1px;
}*/
/* contenedores */
.opc1a{
    height: 300px;
    background: #F6F6F6;
    width: 100%;

    text-align: center; 
}
.opc1b{
    height: 400px;
    width: 100%;
    background-image: url(../../images/bg1.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}


.bg_opc1{
    width: 100%;
    background-image: url(../../images/home-banner-b.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}
.bg_opc2{
    width: 100%;
    background-image: url(../../images/home-banner-c.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px){
    .bg_opc2{
        background: none;
        padding-bottom: 40px;
    }
}

.bg_opc3{
    width: 100%;
    background-image: url(../../images/home-banner-d.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.bg_opc4{
    width: 100%;
    height: 90%;
    position: relative;
    background-image: url(../../images/home-banner-e-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_opc4_b{
    width: 100%;
    height: 100%;
    position:absolute; 
    top:0px;
    left:0px;
    background-image: url(../../images/home-banner-e-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.div_comparar{
    /*width: 100%;
height: 600px;
    position: relative; 
    top:-110px;
right:0px;*/
    height: 600px;
    background-image: url(../../images/bg_comparar.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_pantallas{
    margin-top:88px!important ; 
    width: 100%!important ;
    height: 90%!important ;
    background-image: url(../../images/home-banner-b.png)!important ;
    background-size: cover!important ;
    background-repeat: no-repeat!important ;
}
.opc1btn{
    position: relative;
    top:50%; 
    left:50%;
    width: 100%;
}	
.with-float {
    margin-top: 90px;
    width: 100%;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;

}
.opc2a{
    height: 400px;
    width: 100%;
}
.opc2b{
    height: 750px;
    width: 100%;
    background-image: url(../../images/mano.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center; 
}
.opc2C{
    text-align: left; 
}
.opc2D{
    text-align: left; 
}


/* TESTIMONIAL
================================================ */

#testimonial {
    background: #fff;
    border-bottom: 1px solid #efefef;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.single-testimonial {
    max-width: 500px;
    margin: 0 auto;
}
.single-testimonial img {
    max-width: 102px;
    max-height: 102px;
    border-radius: 100%;
    border: 2px solid #efefef;
}
.single-testimonial p {
    margin-top: 30px;
}
.social-networks {
    margin-top: 0px;
    margin-bottom: 30px;
}
.social-networks a {
    display: inline-block;
    border: 1px solid #24C0D9;
    border-radius: 50%;
    background: #FFFFFF;
    margin: 3px;
    padding: 14px 20px 15px 18px;
    width: 50px;
    height: 50px;
}
.social-networks a:hover {
    background: #24C0D9;
    border: 1px solid #24C0D9;
    color: #fff;
}
.testimonial {
    background: #24C0D9;
    color: #fff;
    margin-top: 20px;
}
.testimonial:hover {
    color: #fff;
}

.fondo_login {
    display: table;
    position: relative;
    width: 100%;
    height: 933px;
    margin-top: -88px;
    background: url(../../images/fondo-login.png) no-repeat left top scroll;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fondo_registro {
    display: table;
    position: relative;
    width: 100%;
    height: 933px;
    margin-top: -88px;
    background: url(../../images/fondo-registro.jpg) no-repeat left top scroll;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.lb_blanco {
    color: #FFF!important;
    background: transparent!important;
    font-size: 12pt;
    font-family: "univia-pro";
}
.loginw-box {
    margin-top: 30px;
    position: absolute;
    background:#FFF !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 90%;
}
.tit_loginh1 {
    font-family: "univia-pro";
    font-size: 14pt;
    text-align: center;
    color: #61697C;
}
.tit_loginolvido {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: left;
    color: #7E7E7E;
    margin: 0;
}
.tit_loginolvido1 {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
    color: #7E7E7E;
    margin: 0;
}
.tit_loginolvido2 {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
    color: #FD9A01;
}
.tit_loginredes {
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
    color: #616C7E;
}
.input_lin {
    border: 0 !important;
    outline: 0 !important;
    background: transparent;
    border-bottom: 1px solid #D0D0D0 !important;
    border-radius: 0px!important;
    font-family: "univia-pro";
    font-size: 12pt;
    box-shadow: none!important;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    transition: border-color .5s ease-in-out;
    -webkit-transition: border-color .5s ease-in-out;
    -moz-transition: border-color .5s ease-in-out;
}
.input_lin:focus {
    border-color: none!important;
    outline: 0px!important;
    border-radius: 0px!important;
    box-shadow: none!important;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
}
.validation-error{
    border-bottom-color: #DF513C!important;
}

#dg_error .team-member{
  padding: 8% 0;
}
.dropdown-menu .divider {
  margin: 0px 0;
}
.termns_and_cond{
    text-align: justify;
    font-weight: 100;
}
#error-msg {
  padding: 5% 0;
  text-align: center;
}

.btn_google {
    border-radius: 33px;
    background-image: -moz-linear-gradient( 1deg, rgb(234,42,55) 0%, rgb(224,40,43) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(234,42,55) 0%, rgb(224,40,43) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(234,42,55) 0%, rgb(224,40,43) 100%);
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
}
.btn_facebook{
    border-radius: 33px;
    background-image: -moz-linear-gradient( 1deg, rgb(0,86,163) 0%, rgb(0,97,183) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(0,86,163) 0%, rgb(0,97,183) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(0,86,163) 0%, rgb(0,97,183) 100%);
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;
}
.btn_google:hover {
    color: #E0E0E0!important;
}
.btn_facebook:hover {
    color: #E0E0E0!important;
}

.sidebar-nav {
    position: absolute;
    top: 10px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}




input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:21px;
    height:21px;
    vertical-align:middle;
    background:url(../../images/square.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    display:inline-block;
    width:21px;
    height:21px;
    vertical-align:middle;
    background:url(../../images/iconcheck.png) left top no-repeat;
}
input[type="search"]  {
    color: #BCC4D4!important;
    font-family: "univia-pro";
    font-size: 10pt; 
}
.badge{
    background-color: #FF3235;
    margin-top: -60px;
    margin-left: -34px;
    font-family: "univia-pro";
    font-size: 9pt; 
    position: relative;
    z-index: 9000;
}
/* --------------------------------
   ANIMATION
*/
.bounce{
  animation: bounce linear 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: bounce linear 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bounce linear 0.8s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: bounce linear 0.8s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: bounce linear 0.8s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes bounce{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(0px,-6px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(0px,-4px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(0px,-2px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes bounce{
  0% {
    -moz-transform:  translate(0px,0px)  ;
  }
  15% {
    -moz-transform:  translate(0px,-6px)  ;
  }
  30% {
    -moz-transform:  translate(0px,0px)  ;
  }
  45% {
    -moz-transform:  translate(0px,-4px)  ;
  }
  60% {
    -moz-transform:  translate(0px,0px)  ;
  }
  75% {
    -moz-transform:  translate(0px,-2px)  ;
  }
  100% {
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  15% {
    -webkit-transform:  translate(0px,-6px)  ;
  }
  30% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  45% {
    -webkit-transform:  translate(0px,-4px)  ;
  }
  60% {
    -webkit-transform:  translate(0px,0px)  ;
  }
  75% {
    -webkit-transform:  translate(0px,-2px)  ;
  }
  100% {
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform:  translate(0px,0px)  ;
  }
  15% {
    -o-transform:  translate(0px,-6px)  ;
  }
  30% {
    -o-transform:  translate(0px,0px)  ;
  }
  45% {
    -o-transform:  translate(0px,-4px)  ;
  }
  60% {
    -o-transform:  translate(0px,0px)  ;
  }
  75% {
    -o-transform:  translate(0px,-2px)  ;
  }
  100% {
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes bounce {
  0% {
    -ms-transform:  translate(0px,0px)  ;
  }
  15% {
    -ms-transform:  translate(0px,-6px)  ;
  }
  30% {
    -ms-transform:  translate(0px,0px)  ;
  }
  45% {
    -ms-transform:  translate(0px,-4px)  ;
  }
  60% {
    -ms-transform:  translate(0px,0px)  ;
  }
  75% {
    -ms-transform:  translate(0px,-2px)  ;
  }
  100% {
    -ms-transform:  translate(0px,0px)  ;
  }
}
.dropdown-menu>li>a {
    display: block !important;
}
.form-control {
    display: block!important;
}	

.left-inner-addon {
    position: relative;

}
.left-inner-addon input {
    padding-left: 30px; 

}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
    margin-top: 30px;
    color: #BCC4D4!important;
    font-family: "univia-pro";
    font-size: 10pt; 
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.input_lin2 {
    border: 1px solid #D0D0D0 !important;
    border-radius: 15px!important;
    box-shadow: none!important;
    background-color: #F6F6F6!important;
    color: #BCC4D4!important;
    font-family: "univia-pro";
    font-size: 10pt; 
}
.input_lin2:focus {
    border-color: none!important;
    outline: 0px!important;
    border-radius: 0px!important;
    box-shadow: none!important;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
}

/* tarjetas de productos */
.team-member {
    background:#FFF;
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 10px;
}
.filter-block{
    padding-bottom: 20%;

}
.team-member .member-photo {
    padding: 3px;
    border-bottom: 2px solid #efefef;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    position: relative;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.team-member .member-photo img {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    width:100%;
}
#dg_comparison .team-member .member-photo img {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    width:50%;
}
.team-member .member-photo .member-name {
    position: absolute;
    bottom: 12px;
    right: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    z-index: 0;
    top:80%;
    width: 200px;
}
.team-member-cross {
    margin-top: 23px;
}
.member-name-2 {
    position: absolute;
    bottom: 0px;
    right: -50px;
    color: #fff;
    font-weight: 700;
    z-index: 0;
    top:50%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    width: 250px;
}
.member-name-2 span {
    position: absolute;
    right: -50px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 1px 1px;
    text-transform:uppercase;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}
.team-member .member-photo .member-name span {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding: 1px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    text-transform:uppercase;
    font-family: "univia-pro";
    font-size: 14pt;
    color: #FFF;
    text-align: center;

}


.team-member.modern .member-photo {
    position: relative;
    padding: 0px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
.team-member.modern .member-photo:after {
    content: "";
    display: block;
    width: 100%;
    height: calc(100% + 1px);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    border-bottom: 2px solid #000;
}
.team-member.modern:hover .member-photo:after {
    width: 100%;
    height: 100%;
}
.team-member.modern .progress {
    height: 5px;
    border-width: 2px;
    margin-bottom: 6px;
}
.team-member.modern .progress-label {
    font-size: 12px;
    line-height: 2em;
    font-weight: 700;
}
.team-member.modern .progress span {
    display: none;
}
.team-member.modern .member-socail {
    margin-top: 0px;
}
.team-member.modern .member-socail a i {
    background-color: transparent;
    color: #666;
}
.team-member.modern .member-socail a:hover i {
    color: #fff;
}
.team-member .member-info {
    padding: 15px 6px 12px 6px;
    border-top: 1px solid #efefef;
}
.team-member .member-info-det {
    padding: 15px 6px 12px 6px;
    border-bottom: 1px solid #efefef;
    width:100%
}
.team-member .member-socail {
    margin-left: 5px;
}
.team-member .member-socail a i {
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    display: inline-block;
    background-color: #d2d2d2;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.team-member .member-socail a.facebook:hover i {
    background-color: #507CBE;
}
.team-member .member-socail a.twitter:hover i {
    background-color: #63CDF1;
}
.team-member .member-socail a.gplus:hover i {
    background-color: #F16261;
}
.team-member .member-socail a.dribbble:hover i {
    background-color: #E46387;
}
.team-member .member-socail a.linkedin:hover i {
    background-color: #90CADD;
}
.team-member .member-socail a.flickr:hover i {
    background-color: #E474AF;
}
.team-member .member-socail a.instagramm:hover i {
    background-color: #4D4F54;
}
.team-member.modern .member-info {
    border-bottom: 1px solid #f2f2f2;
    padding: 14px 14px 1px;
}
.team-member.modern .member-info-det {
    border-bottom: 2px solid #f2f2f2;
    padding: 14px 14px 1px;
    display:inline-block;
}
.product-name {
    min-height: 80px;
}
.team-member.modern .member-info h2, .team-member.modern .member-info h2 a {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    margin: 3px 0;
}
.team-member.modern .member-info h2 a:hover {
    color:#fe9900;
}
.btn_cerrar_color01 {
    background:#FD9A00 !important;
    color:#FFF;
    width:100px;
    border-radius: 10px;
    /*background-image: -moz-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -webkit-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);
    background-image: -ms-linear-gradient( 1deg, rgb(230,175,73) 0%, rgb(221,53,56) 100%);*/
    font-family: "univia-pro";
    font-size: 12pt;
    text-align: center;


}
.color01 span {
    background:#FD9A00 !important;
}
.color02 span {
    background:#fe46ff !important;
}
.color03 span {
    background:#52509a !important;
}
.color04 span {
    background:#ee3733 !important;
}
.color05 span {
    background:#A4A4A4 !important;
    text-decoration: line-through;
}


.imgevent:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.link-button {
    background:#f3d71a;
    color:#010078;
    font-size:14px;
    display:inline-block;
    padding:5px 10px;
    position:relative;
    top:-5px;
    right:10px;
    float:right;
    border-radius: 30px !important; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}
.link-button:hover {
    color:#FFF !important;
}

.icon_comparar{
    background: url(../images/comparar.png) center no-repeat !important;
    display:inline-block;
    height:48px;
    width:48px;
    border-right:1px dashed #f2f2f2;
    cursor: pointer;
}
.icon_favorito{
    background: url(../images/favoritos.png) center no-repeat !important;
    display:inline-block;
    height:48px;
    width:48px;
    border-right:1px dashed #f2f2f2;
    cursor: pointer;
}

.icon_comparar:hover{
    content: url(../images/comparar.png);
    height:48px;
    width:48px;
}
.icon_favorito:hover{
    content: url(../images/favoritos.png);
    height:48px;
    width:48px;
}

.tarjeta_icon{
    padding:5px 10px;
}
.tarjeta_icon:hover {
    color: #FD9A00;
    background: rgba(255,102,0, 0.5); /*Sepia*/
}
/******************************************/

#ex1Slider .slider-selection {
    background: #FD9A00;
}
#ex1Slider .slider-handle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(top,#FFF 0,#EEE 100%);
    background-image: -o-linear-gradient(top,#FFF 0,#0EEE 100%);
    background-image: linear-gradient(to bottom,#FFF 0,#EEE 100%);
}

/* new styles */
.container-fixed{
    position: fixed;
}

#div_comparation{
    background-color: #626B7E; 
}

.close.btn_cerrar_color01{
    margin-right: 0 !important;
    
    margin-top: -15px!important;
    border-radius: 10px 4px 10px 10px;
}

.modal-body .team-member{
    margin-top: 44px;
}
.caja_pos img{
    margin-left:auto;
    min-width: auto;
    max-height: 100px;
}

#wrapper_prods {
    margin-right: 0px;
}

.caja_compara{
    padding-left: 8px;
    padding-right: 8px;
}

.bg_opc2{
    background-position: center;
}

@media (min-width: 1024px) { 
    #div_comparation{
        position:fixed;
        top: 88px;
        padding-left: 16px;
        z-index: 999;
    }
        
}

@media screen and (min-width: 980px){
    
    #imenu {
        display: none !important;
    }
}

@media screen and (max-width: 980px){
    #wrapper_prods {
        margin-left: 0;
    }
    
    .caja_pos img{
        max-height: 45px;
    }
    
    #header nav img, #header .logo img{
        max-width: 50%;
    }
    #header .logo img{
        max-width: 55%;
        margin-left: 25%;
    }
    .nmargin-m{
        margin-left:0;
        margin-right: 0;
    }
}


@media (max-width: 767px) { 
    .caja_pos img{
        max-height: 40px;
    }
    
    .modal-body .team-member{
        margin-top: 108px;
    }
    
    #div_comparation{
        width: 100%;
        
    }
    #div_comparation > div{
        width: 90%;
        margin-left:auto;
        margin-right: auto;
    }
    #contenido_/* , #contenido_> .container-fluid*/{
        padding-left:0;
        padding-right: 0;
    }
    
    #div_wrapper_comp{
        padding-left: 0; 
        padding-right: 0;
    }
    /*
    #subcategories-list-mobile li, #subcategories-list-mobile li a{
        display: block;
        width: 100%;
    }*/

    @media screen and (max-width: 480px)
    {

        .footer-menu{
            display: none;
        }

    }

     .footer-menu li{
        width: 100%;
        border: none;
        border-bottom: 1px solid #7D7D7D;
        padding: 10px 0;
    }
    
    .footer-menu li:first-child{
        border-top: 1px solid #7D7D7D;
    }
    
    .barra_sup1 li{
        padding-left:0 ;
        padding-right: 0;
        margin-left:0;
        margin-right:0;
    }
    
    .slick-next {
        right: 0 !important;
    }
    .slick-prev {
        left: 0 !important;
    }
    
    .nmargin-m{
        margin-left:0;
        margin-right: 0;
    }
    
     #result-row .modal-body .team-member, #dg_comparison .modal-body .team-member{
        margin-top: 44px;
    }
}



@media screen and (max-width: 480px){
    #opc1 {
        height: auto;
    }
    
    #opc1 br{
        display: none;
    }
    
    #opc2{
        height: auto;
    }
    
   .modal-body .team-member{
        margin-top: 60px;
    }
    
    #result-row .modal-body .team-member{
        margin-top: 44px;
    }
    
    #header nav img {
        max-width: 80%;
    }
    #header .logo img{
        max-width: 100%;
        margin-left: 0;
    }
    .fondo_registro {
        height: 1300px;
    }
}
.contact-us-data p {
    line-height: 0.5;
}